[2014-09-23 18:18] bryo5363 opened #1 "Possible to freeze mass in place"
By generating an extremely high amount of KE, the mass on the pendulum will freeze in place even though it has a sufficiently large velocity vector.

Steps to reproduce
-Maximize the length of the string.
-Drop the mass from as high as possible
-When the mass makes its way to the minimum position, minimize the length of the string.
-Enlarge the length. Repeat the process a few times. The mass will

[2014-09-23 18:34] bryo5363 opened #2 "Possible for photogate timer to run to infinity."
Steps to reproduce
-Maximize length of string.
-Before dropping, make sure you have the photogate timer accessed and press start.
-Drop from around 115º
-When the mass hits the point of minimum PE, minimize the length of the string.
-The mass will start to circumvent around the holding point. The timer will also continue to run.

![screen shot 2014-09-23 at 12 29 40 pm](https://cloud.githubusercon

[2014-09-23 18:49] bryo5363 opened #3 "Photogate timer can register pendulum 1 as pendulum 2"
Steps to reproduce
-Access photogate timer. Press start
-Drop pendulum 1 from some height
-While pendulum is in motion, switch photogate timer to pendulum 2.
-Notice the time will still run and give a read out for pendulum 1.

[2014-09-23 19:19] bryo5363 opened #4 "No boundary for timer or photogate timer."
It is possible to remove the timer and the photogate timer off of the screen.

[2014-09-23 20:48] bryo5363 opened #5 "Photogate timer can read negative time"
Steps to reproduce
-Access photogate timer
-Press start
-Drag mass to ~10º-15º
-While mass is oscillating, grab it and move it around the pivot point a few times
-The photogate timer will have a negative reading.
![screen shot 2014-09-23 at 2 44 15 pm](https://cloud.githubusercontent.com/assets/7717368/4379692/ed601f34-4362-11e4-992e-c748cf61a615.png)

[2014-09-23 20:57] bryo5363 opened #6 "It is possible for user to create weird trace lines"
Steps to reproduce
-Access photogate timer. Press start
-Drag mass very slightly
-When the mass is moving, drag the mass
-notice the trace line will be a rough sketch of the motion that the user imposed on the mass.

![screen shot 2014-09-23 at 2 54 27 pm](https://cloud.githubusercontent.com/assets/7717368/4379839/350908fe-4364-11e4-865d-0bf318dfd504.png)

[2014-10-14 16:35] jonathanolson opened #7 "Prefer name/documentation changes in PendulumModel"
Instead of "{Number}" and "{String}", we've switched to "{number}" and "{string}", since they are primitives (things like "{PendulumModel}" will stay the same).

I'd like to see the angle documented to be radians (preferred) or degrees.

Additionally, we've used "isUserControlled" instead of "isDragging" in the past.

[2014-10-14 16:37] jonathanolson opened #8 "Preferred property names in PendulumLabModel"
Instead of "isRuler", "isStopwatch" and "isPeriodTrace", I'd prefer something directly indicating visibility (something like "rulerVisible" / "isRulerVisible")

[2014-10-14 16:46] jonathanolson opened #9 "Prefer the name "Pendulum" instead of "PendulumModel""
Generally for our sims, we'll have one main model (in this case PendulumLabModel), and then all other model types would NOT have "Model" as a suffix (e.g. Pendulum instead of PendulumModel).

[2014-10-16 16:35] #9 closed, assigned to jonathanolson

[2014-10-16 16:36] #7 closed, assigned to jonathanolson

[2014-10-16 16:36] #8 closed, assigned to jonathanolson

[2014-11-19 18:14] samreid opened #10 "ScreenView should use the 'svg' renderer"
I noticed the main constructor in PendulumLabView.js begins like so:

[code]

However, the ScreenView should specify the svg renderer, like so:

[code]

This will make it much faster and less fuzzy on retina devices.

[2014-12-29 21:29] arouinfar opened #11 "Increase space between mass/length and gravity menus"
The spacing between the mass/length and gravity menus is crowded, and should be increased. When in two pendulum mode on the Lab screen, the menus will need to be very close, but they do not always need to be this close.

Current dev version:
![image](https://cloud.githubusercontent.com/assets/8419308/5571722/3db7ade0-8f52-11e4-8d69-627b7e2aacfe.png)

Mockup:
![image](https://cloud.githubuserconten

[2014-12-29 22:01] arouinfar opened #12 "Increment value of sliders and tweakers is reversed"
The tweakers (arrow buttons next to readout) should increment the value in steps of 0.01 and the slider should adjust the value in steps of 0.1. Currently, these are reversed (tweakers are .1 and sliders are .01).

Assigning to @MDmitrieva.

[2014-12-29 22:10] arouinfar opened #13 "Energy graph does not reset after Reset All is pressed"
Test device: MacBook Pro
Operating System: OS X 10.9.5
Browser: Chrome 39.0.2171.95

Problem description:
Pressing the reset all button does not reset the energy graph on the Energy and Lab screens.

Steps to reproduce:
Open up the Energy or Lab screen, drag the pendulum to start motion, and expand the graph.  Press reset all. The energy graph will not reset.

Severity: This needs to be fixed befo

[2014-12-29 22:36] arouinfar opened #14 "Gravity menu should open upward"
The gravity drop down menu should open above the display so it does not hide the slider. It currently opens downward. See screenshots below.

Other formatting issues:
1. The line between the display and the down arrow should be closer to the arrow, so it appears more square (see mockup screenshot below)
2. The size of the drop down menu looks too small for touch. The mocked up version was larger.

[2014-12-29 22:51] arouinfar opened #15 "Period Timer tool missing highlight"
The Period Timer is missing the highlight on the upper left corner (as shown in mockup).

Dev version:
![image](https://cloud.githubusercontent.com/assets/8419308/5573966/41cc8bf6-8f72-11e4-956a-3dcc6421d280.png)

Mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/5573977/64552b4c-8f72-11e4-9b36-d9df16e606b8.png)

[2014-12-29 22:59] arouinfar opened #16 "Start/Reset button on Period Timer"
After recording one full period, the reset button on the period timer should switch back to the start button. The reset button should only display while the period timer is in operation.

Before recording:
![image](https://cloud.githubusercontent.com/assets/8419308/5574004/d7944138-8f72-11e4-813e-e3872e2cce22.png)

During recording:
![image](https://cloud.githubusercontent.com/assets/8419308/55740

[2014-12-30 00:34] arouinfar opened #17 "Period trace draws outside of bounds"
When the pendulum reaches the maximum displacement, the period trace draws outside of the pendulum's path. Instead, the trace should follow the pendulum's string. See the screenshots of the mockup and original sim for an example.

Dev version with period trace outside of bounds:
![image](https://cloud.githubusercontent.com/assets/8419308/5574388/0805a930-8f7b-11e4-94cb-8771846f7613.png)

Mockup:
!

[2014-12-30 22:24] #1 closed, assigned to nobody

[2014-12-30 22:27] #3 closed, assigned to nobody

[2014-12-30 22:28] #5 closed, assigned to nobody

[2014-12-30 22:29] #4 closed, assigned to nobody

[2014-12-30 22:29] #6 closed, assigned to nobody

[2015-01-05 18:39] ariel-phet opened #18 "General performance issues"
Our student tester reports:

There are performance issues on all three basic platforms however (Max OSX safarai, Windows Chrome, and iPad). Both OSX and Windows run fairly well but there is a noticeable stutter upon opening the simulation. The iPad runs slower than both OSX and Windows and also contains the same stutter as the other two. Besides the performance issue I would say this sim is lookin

[2015-01-05 22:43] bereaphysics opened #19 "The simulation should make use of the modelViewTransform2 to go from the model to the view."
Currently the simulation pays lip service to the modelViewTransform. Although it is used throughout the simulation it is set to unity.

In pendulumLabModel.js, one finds
[code]
modelViewTransform= new ModelViewTransform2.createOffsetScaleMapping( new Vector2(0,0), 175)
[code]

[2015-01-12 15:44] andrey-zelenkov commented on #11
Increased space between mass/length and gravity menus. Reassign to @arouinfar for verification.

[2015-01-12 15:46] andrey-zelenkov commented on #13
Added updating energy graphs after pressing Reset All button. Reassign to @arouinfar for verification.

[2015-01-12 15:47] andrey-zelenkov commented on #17
Fixed period trace drawing. Reassign to @arouinfar for verification.

[2015-01-12 15:48] andrey-zelenkov commented on #16
Added switch back reset button on the period timer to the start view after recording one full period. Reassign to @arouinfar for verification.

[2015-01-12 19:36] arouinfar commented on #16
This issue has has been fixed in dev2. Closing.

[2015-01-12 19:36] #16 closed

[2015-01-12 19:36] arouinfar commented on #17
Looks good. Closing.

[2015-01-12 19:36] #17 closed

[2015-01-12 19:37] arouinfar commented on #13
Issue has been resolved in dev2. Closing.

[2015-01-12 19:37] #13 closed

[2015-01-12 19:38] arouinfar commented on #11
Looks good. Closing.

[2015-01-12 19:38] #11 closed

[2015-01-12 19:48] arouinfar opened #20 "Period trace should fade away on Lab screen"
After tracing the pendulum's period, the line should gradually fade away. On the Lab screen, the trace disappears immediately instead of fading out.

Example of proper fading:
![screen shot 2015-01-12 at 12 41 00 pm](https://cloud.githubusercontent.com/assets/8419308/5709596/6aa2412e-9a58-11e4-9bc8-c47eb7cae2e8.png)

This fading works properly on the Intro and Energy screens, but not on the Lab sc

[2015-01-13 07:46] andrey-zelenkov commented on #15
I have a question on this issue. Is it possible to make the highlight using some the library components, or it should be done using a linear gradient only?

[2015-01-13 08:11] andrey-zelenkov commented on #14
I have two questions on this issue. 1) In the case of set ComboBox option "listPosition: 'above'" arrow in dropdown menu begins to point upward and I didn't find any option to prevent this (see screenshot). Is it will be ok or should be fixed? 2) How can we change position of planet options list (I've tried translate this node but without success)? I need move it left after scale (see screenshot):

[2015-01-13 08:57] andrey-zelenkov commented on #12
Fixed value increment of sliders and tweakers. Reassign to @arouinfar for verification.

[2015-01-13 13:51] andrey-zelenkov commented on #20
Fixed period trace fading for lab screen. Reassign to @arouinfar for verification.

[2015-01-13 16:02] arouinfar commented on #14
The vertical size of the box looks good to me. It could be a bit wider to better accommodate future translations (as shown in the mockup screenshot in my first post). I'm not a developer, so perhaps @jonathanolson can answer your technical questions.

[2015-01-13 16:04] arouinfar commented on #15
@jonathanolson can answer this question.

[2015-01-13 16:38] arouinfar commented on #20
@ariel-phet, can you please verify this? I don't have the ability to check this without having a new dev version published.

[2015-01-13 16:43] arouinfar commented on #12
@ariel-phet, can you please verify? I'm not sure that this issue along with #20 are enough to merit another dev version for me to check. Alternatively, I can wait to verify until the next dev version is published.

[2015-01-13 17:42] ariel-phet commented on #20
Looks good, closing

[2015-01-13 17:42] #20 closed

[2015-01-13 17:50] ariel-phet opened #21 "Possible Memory Leak"
If the lab screen is left running with two pendulums the sim becomes very jerky and choppy. This behavior suggests there may be a memory leak.

[2015-01-13 17:59] ariel-phet commented on #12
Fixed, closing.

[2015-01-13 17:59] #12 closed

[2015-01-13 18:39] ariel-phet commented on #21
Erroneous report on my part. Closing.

[2015-01-13 18:39] #21 closed

[2015-01-14 08:22] jonathanolson commented on #15
To reproduce the desired look, you could use a linear gradient along the top, with a radial gradient on the left (with the same color stops).

[2015-01-14 08:30] jonathanolson commented on #14
I don't think there are specific guidelines, generally you want something to be 44px or larger for button-like things (which depends on the screen size in our case).

I feel that the arrow should point upward when the menu opens upward.

The stroke looks thicker on the pop-up, which I wouldn't expect (almost like a scaling is being applied to the entire pop-up). Having the entries consist of Text

[2015-01-15 15:03] andrey-zelenkov commented on #15
Added highlight for Period Timer tool. Reassign to @arouinfar for verification.

[2015-01-15 15:04] andrey-zelenkov commented on #14
Set listPosition: 'above' for planet labels in gravity menu and added right indent for labels. Reassign to @arouinfar for verification.

[2015-01-19 15:32] andrey-zelenkov commented on #18
We made performance optimization at the stage of internal testing (redraw elements only when it's visible, prevent extra model updates). Please сheck the code and if there are any issues or lack about performance improvement let us know. We'll work on it. Thanks in advance!

[2015-01-23 18:24] arouinfar commented on #15
Looks good. Closing.

[2015-01-23 18:24] #15 closed

[2015-01-23 20:00] arouinfar commented on #14
The menu still seems too small for touch. In your earlier screenshot (see below) the vertical height was larger.
![image](https://cloud.githubusercontent.com/assets/8419308/5881559/f3d0d1a0-a2fe-11e4-9181-4476a30988eb.png)

The latest dev version (dev.3):
![image](https://cloud.githubusercontent.com/assets/8419308/5881577/0f782412-a2ff-11e4-885c-c0e0ca26157a.png)

The menu should be taller (like t

[2015-01-26 10:42] andrey-zelenkov commented on #14
Planet menu have made larger but changing of arrow direction requires library improvement. Please reassign this ticket to developers for investigations. Currently reassign to @arouinfar.

[2015-01-26 21:50] arouinfar opened #22 "Cannot switch from Planet X to Custom gravity"
It is currently impossible to switch from Planet X to Custom gravity. When using the drop-down menu to switch from an option with a known value of gravity to Custom, the slider maintains its current position/value. However, when switching from Planet X to Custom, the value of g should return to whatever value it had immediately before Planet X was selected.

The desired behavior is best exemplifie

[2015-01-26 22:30] arouinfar commented on #2
While playing around with dev.3 running OS X 10.9.5 and Chrome 40.0.2214.91, I wasn't able to reproduce what @bryo5363 has reported. However, I have found a few ways to make the period timer run to infinity.

<b>Method 1:</b>
1) While pendulum 1 is swinging, start the period timer (period timer should be set to record pendulum 1)
2) Before the period has been fully recorded, switch the timer to pe

[2015-01-26 22:35] arouinfar commented on #14
@andrey-zelenkov, can you please include a screenshot of the latest gravity menu?

[2015-01-26 22:44] arouinfar opened #23 "Inconsistent layering"
The period trace currently draws on top of the menus on the left and goes behind the menu on the right. The mass is always behind the menus. It would be best if the masses were always visible above the menus.

![screen shot 2015-01-26 at 3 11 13 pm](https://cloud.githubusercontent.com/assets/8419308/5909795/0f4ae352-a571-11e4-9aa5-a826cd47b3ca.png)

The tools are not consistently layered. The peri

[2015-01-26 22:55] arouinfar opened #24 "Period Timer should be able to immediately re-record period"
Currently, the period timer will not re-record the pendulum's period until after the period trace has completely faded away.

<b>To reproduce:</b>
1) While pendulum 1 is swinging, start the period timer.
2) After period finishes recording, immediately press on the play/record button to start again.  The play/record will turn into the reset button, but the period will not be recorded:
![image](http

[2015-01-27 00:00] arouinfar opened #25 "Possible to record period while pendulum is not in motion"
It is possible to record the period of the pendula while they are not in motion. This only appears to be an issue after their motion has been stopped using friction.

<b>To reproduce:</b>
1) Open the lab screen, and displace both pendula.
2) Increase friction to the maximum value and wait for the pendula to stop swinging. The displacement tick marks will still be showing in the protractor, even th

[2015-01-27 08:32] andrey-zelenkov commented on #14
Of course:

![screen shot 2015-01-27 at 11 19 01](https://cloud.githubusercontent.com/assets/3500611/5915397/7b013006-a616-11e4-8258-dd7354de6d76.png)

[2015-01-27 13:18] andrey-zelenkov commented on #23
Layering was moved from the original sim (in the original simulation ruler was beneath the other nodes). Please let us know if there are more differences. Ruler and pendulum nodes moved up, reassign to @arouinfar for verification.

[2015-01-27 13:19] andrey-zelenkov commented on #24
Added immediate re-record of period for Period Timer. Reassign to @arouinfar for verification.

[2015-01-27 13:19] andrey-zelenkov commented on #25
Prevented infinite motion after friction. Reassign to @arouinfar for verification.

[2015-01-27 20:28] jonathanolson opened #26 "Mock-up screenshots should not be included"
They are currently loaded into the sim in the main:
[code]
then passed to each screen and to PendulumLabView. They should not be in the simulation at all (as it increases the download size), and the code related to the mock-ups should be removed.

[2015-01-27 20:29] jonathanolson opened #27 "Credits should be filled out"
Currently all credits are blank.

[2015-01-27 20:39] jonathanolson opened #28 "ProtractorNode should use one Path for the ticks, instead of ~180 Line nodes"
It should improve performance in general, and makes sense to be one Path.

[2015-01-27 20:40] jonathanolson commented on #10
Looks good, closing.

[2015-01-27 20:40] #10 closed

[2015-01-27 21:05] jonathanolson opened #29 "Type documentation"
Instead of
[code]
the PhET convention is to follow JSDoc with the type first, like:
[code]

Example is for location in Movable.js

[2015-01-27 21:10] jonathanolson opened #30 "PropertySet property access"
NOTE: not assigned yet, pending on https://github.com/phetsims/axon/issues/43

In general the following is preferred:
[code]
to the following style:
[code]
for readability and performance concerns.

Example: Movable.js

[2015-01-28 02:51] jonathanolson opened #31 "Height/velocity inconsistencies with Pendulum.js"
It seems pendulum.height is a property that always has the value 0, but pendulum.getHeight() returns the anticipated value. Same with velocity.

This should be fixed so that we don't have incorrect values (feel free to remove the unused properties from the pendulum).

[2015-01-28 02:53] jonathanolson opened #32 "Prefer usage of Vector2.setPolar"
Instead of the following:
[code]
It's much simpler to call:
[code]

[2015-01-28 02:53] jonathanolson commented on #32
This usage is in Pendulum.js, but please check for others.

[2015-01-28 02:55] jonathanolson opened #33 "PhET-style variable declarations"
Declarations of the form:
[code]
should be changed to
[code]
to match our coding guidelines. It helps to be able to quickly rearrange by swapping lines, delete lines, and add variables faster, and is a bit easier to read.

[2015-01-28 02:56] jonathanolson commented on #33
An example of this is in updateAccelerationVector() in Pendulum.js, but please look for other cases.

[2015-01-28 03:42] jonathanolson opened #34 "Note that Pendulum.getPeriod() is only a small-angle approximation"
Consider renaming it to getApproximatePeriod(), as it can be more than 5% off for displacements of 50 degrees.

[2015-01-28 06:47] jonathanolson opened #35 "Model questions and clarifications #1"
After reviewing some of the model, I want to ask for a few clarifications (including documentation). If something in here is correct and not documented in the model, it should ideally be added (it will help future developers).

It looks like height/velocity (on the Pendulum) isn't used (see https://github.com/phetsims/pendulum-lab/issues/31). 'acceleration' is documented as "acceleration value of

[2015-01-28 12:19] andrey-zelenkov commented on #28
Create protractor ticks using single Path instead of Lines. Thank you for performance improvement! Reassign to @jonathanolson for verification.

[2015-01-28 12:21] andrey-zelenkov commented on #34
Rename Pendulum.getPeriod method to more convenient Pendulum.getApproximatePeriod. Reassign to @jonathanolson for verification.

[2015-01-28 12:22] andrey-zelenkov commented on #33
Change variable declarations to PhET-style. Reassign to @jonathanolson for verification.

[2015-01-28 12:23] andrey-zelenkov commented on #32
Simplify code by using Vector2.setPolar instead of Vector2.setXY. Thank you for advice! Reassign to @jonathanolson for verification.

[2015-01-28 12:28] andrey-zelenkov commented on #31
Removed unused properties from the pendulum. Reassign to @jonathanolson for verification.

[2015-01-28 12:30] andrey-zelenkov commented on #26
Removed mock-up screenshot images from simulation. Reassign to @jonathanolson for verification.

[2015-01-28 14:25] andrey-zelenkov commented on #29
Fixed type documentation for comments. Reassign to @jonathanolson for verification.

[2015-01-28 15:27] andrey-zelenkov commented on #2
Significant changes were made for period timer. Fixed return button behavior (it's stop and display 0.0000 s after pressing 'return' button). Prevented switching to the second pendulum if it's not visible (I've tried simply to switch back to the first pendulum but error occurred in SCENERY/RelativeTransform.js). If second pendulum is visible and we switch to it then period trace for the 1st pendul

[2015-01-28 17:45] andrey-zelenkov commented on #22
Fixed switching from Planet X to Custom Planet. Reassign to @arouinfar for verification.

[2015-01-28 23:10] jonathanolson commented on #34
Looks good, thanks.

[2015-01-28 23:10] #34 closed

[2015-01-28 23:11] jonathanolson commented on #33
Looks good, thanks!

[2015-01-28 23:11] #33 closed

[2015-01-28 23:11] jonathanolson commented on #32
Looks good, thanks!

[2015-01-28 23:11] #32 closed

[2015-01-28 23:11] jonathanolson commented on #31
Looks good, thanks!

[2015-01-28 23:11] #31 closed

[2015-01-28 23:12] jonathanolson commented on #28
Looks good, thanks!

[2015-01-28 23:12] #28 closed

[2015-01-28 23:13] jonathanolson commented on #26
Looks good, thanks!

[2015-01-28 23:13] #26 closed

[2015-01-28 23:13] jonathanolson commented on #29
Looks good, thanks!

[2015-01-28 23:13] #29 closed

[2015-01-28 23:44] jonathanolson opened #36 "Top-level file documentation fixes"
PeriodTrace.js documentation states "Single pendulum model.", PeriodTraceNode says it's a "Protractor node", PendulumLabModel.js and EnergyModel.js have the same description, etc.

This should be fixed, and any other incorrect file documentation (I haven't exhaustively checked).

[2015-01-29 00:20] jonathanolson opened #37 "Type documentation in PeriodTrace"
Incorrect type:
[code]

Generally we document property types as:
[code]
instead of just
[code]

[2015-01-29 12:59] andrey-zelenkov commented on #35
Renamed Pendulum.acceleration to Pendulum.alpha and change corresponding comments. Also added Pendulum.setAlpha function.

Сoefficient of power of the velocity for drag force depends on Reynold's number (http://courses.ncssm.edu/aphys/labs/vlab1/theory.pdf) and can vary from 1 to 2. For laminar flow (not very high velocity) usually takes F∝v^1. Friction formula was taken from the original simulati

[2015-01-29 13:28] andrey-zelenkov commented on #36
Top level file documentation fixes made. Reassign to @jonathanolson for verification.

[2015-01-29 14:11] andrey-zelenkov commented on #37
Type documentation fixes for parameters have made. Reassign to @jonathanolson for verification.

[2015-01-29 18:11] jonathanolson opened #38 "Dropping the "Model" suffix for many variables/properties"
It's idiomatic for PhET sims to not use "pendulumModels", "planetModels", "rulerModel", "stopwatchModel", etc., and prefer "pendulums", "planets", "rulers" and "stopwatch".

This generally applies to any type which does not end in "Model" itself (please keep PendulumLabModel's name).

[2015-01-29 18:28] jonathanolson opened #39 "Reset handling"
Generally, calling prototype methods on non-self objects is highly discouraged. Instead of code like:
[code]
we should have:
[code]
and similar for all usages like that.

[2015-01-29 23:49] arouinfar commented on #23
Thanks for adjusting the layering. Can you move the period trace up so that it appears on top of the menus with the pendulum? It looks a bit strange for the pendulum to be in front of a menu while the trace is behind.

![image](https://cloud.githubusercontent.com/assets/8419308/5968178/ffd19714-a7d1-11e4-85dd-7fc3c3f61553.png)

Everything else looks good. Reassigning to @andrey-zelenkov.

[2015-01-29 23:56] arouinfar commented on #25
Fixed, closing.

[2015-01-29 23:56] #25 closed

[2015-01-29 23:58] arouinfar commented on #24
Fixed, closing.

[2015-01-30 00:03] arouinfar commented on #22
Looks good! Closing.

[2015-01-30 00:03] #22 closed

[2015-01-30 09:47] andrey-zelenkov commented on #23
Move period trace node up to pendulum node. Reassign to @arouinfar for verification.

[2015-01-30 09:49] bereaphysics commented on #19
The decision was made at the dev meeting to relax this stipulation for the pendulumLab. so closing

[2015-01-30 09:49] #19 closed

[2015-01-30 10:10] andrey-zelenkov commented on #38
Dropped "Model" suffix for variables and properties. Reassign to @jonathanolson for verification.

[2015-01-30 10:15] andrey-zelenkov commented on #39
Reset handling changed (avoid calling prototype methods). Reassign to @jonathanolson for verification.

[2015-01-30 17:17] arouinfar commented on #23
Great, thanks! Closing.

[2015-01-30 17:17] #23 closed

[2015-01-30 17:20] arouinfar commented on #2
Thanks! Everything looks good, so closing.

[2015-01-30 17:20] #2 closed

[2015-01-30 17:21] arouinfar commented on #14
Thanks. Menu looks good, closing.

[2015-01-30 17:21] #14 closed

[2015-01-30 18:47] pixelzoom opened #40 "no doc directory"
Every sim is supposed to have a doc/ directory, containing model.txt (high-level model description) and implementation-notes.text (notes for developers).

[2015-01-30 18:48] pixelzoom opened #41 "changes.txt is empty"
Recommend deleting it.

[2015-01-30 18:50] pixelzoom opened #42 "README.md needs to be filled in"
It's still the auto-generated template.

[2015-01-30 18:51] #42 closed

[2015-01-30 18:51] pixelzoom opened #43 "missing credits"
See pendulum-lab-main.js.  simOptions.credits needs to be populated.

[2015-01-30 18:54] pixelzoom opened #44 "dependences in package.json don't match pendulum-lab-config.js"
For example, VEGAS is not used in this sim but appears in pendulum-lab-config.js

[2015-01-30 18:58] #41 closed

[2015-01-30 18:59] pixelzoom commented on #43
Assigning to @jonathanolson to instruct MLL on what the credits should be.

[2015-01-31 00:14] jonathanolson commented on #39
Looks good, thanks!

[2015-01-31 00:14] #39 closed

[2015-01-31 01:49] jonathanolson commented on #38
Looks great, thanks!

[2015-01-31 01:49] #38 closed

[2015-01-31 02:58] jonathanolson commented on #43
Duplicate of https://github.com/phetsims/pendulum-lab/issues/27, closing.

[2015-01-31 02:58] #43 closed

[2015-01-31 19:11] jonathanolson commented on #37
Looks good, thanks!

[2015-01-31 19:11] #37 closed

[2015-01-31 19:12] jonathanolson commented on #36
Looks good, thanks.

[2015-01-31 19:12] #36 closed

[2015-02-02 09:15] andrey-zelenkov commented on #44
Removed unused VEGAS import from config.js. Reassign to @pixelzoom for verification.

[2015-02-02 11:55] andrey-zelenkov commented on #40
Added doc/ directory and model.txt and implementation-notes.txt. Reassign to @pixelzoom for verification.

[2015-02-02 18:20] pixelzoom commented on #40
I'm not familiar with this sim. So assigning to @jonathanolson to determine whether model.txt and implementation-notes.txt provide sufficient information.

[2015-02-02 19:55] #44 closed

[2015-02-04 23:34] jonathanolson opened #45 "Assertion failure during fuzzing"
[code]

To launch to reproduce this error, use ?ea&fuzzMouse=100. If you have troubles reproducing, let me know.

[2015-02-05 07:41] jonathanolson opened #46 "PeriodTrace pendulum parameter"
Is the pendulum parameter to PeriodTrace ever something that isn't a Pendulum that extends PropertySet? Otherwise it should be typed {Pendulum}.

[2015-02-05 07:51] jonathanolson opened #47 "PeriodTrace pendulum angle link computes with null"
Because link() is called on the angle property, oldAngle is null the first time it is triggered. Please lazyLink if that is desired, or explicitly handle the null case (instead of adding and multiplying with null).

[2015-02-05 08:26] jonathanolson opened #48 "EMPTY_SHAPE potentially unnecessary?"
EMPTY_SHAPE is set to new Shape() and only used for Paths. Using null would work just as well. Any reason EMPTY_SHAPE is used instead?

[2015-02-05 08:41] jonathanolson opened #49 "Pendulum.angle documentation"
Since we are using sign-dependent code like the following:
[code]
where there is a significant difference between (pi * -pi) and (3pi * pi), even if the angles are the same mod 2pi.

Please document the acceptable range and where it is rounded.

[2015-02-05 08:54] jonathanolson opened #50 "PeriodTrace.pathPoints[3].anticlockwise looks unused"
Please note where it is used, or remove the key-value.

[2015-02-05 09:00] jonathanolson opened #51 "PeriodTrace's anticlockwise flags"
It seems like PeriodTrace could be simplified with a single anticlockwise flag (for the intial movement). Every anticlockwise flag for [1], [2], and [3] are determined by [0]'s anticlockwise. Additionally, every access of anticlockwise in the node has a specific index specified, so the signs can be applied there.

Is there another reason anticlockwise is duplicated?

[2015-02-05 09:24] andrey-zelenkov commented on #30
PropertySet property access changed. Reassign to @jonathanolson for verification.

[2015-02-05 11:39] andrey-zelenkov commented on #45
Fixed assertion failure during fuzzing. Prevent undefined gravity value. Reassign to @jonathanolson for verification.

[2015-02-05 11:48] andrey-zelenkov commented on #47
Change link() to lazyLink() call for angleProperty. Reassign to @jonathanolson for verification.

[2015-02-05 12:04] andrey-zelenkov commented on #48
Remove unnecessary EMPTY_SHAPE. Reassign to @jonathanolson for verification.

[2015-02-05 13:45] andrey-zelenkov commented on #50
Remove unused 'anticlockwise' flags and simplify period trace model. Reassign to @jonathanolson for verification.

[2015-02-05 13:46] andrey-zelenkov commented on #51
Remove unused 'anticlockwise' flags and simplify period trace model. Reassign to @jonathanolson for verification.

[2015-02-05 13:59] andrey-zelenkov commented on #46
Fixed jsdoc description for pendulum parameter. Reassign to @jonathanolson for verification.

[2015-02-05 14:30] andrey-zelenkov commented on #49
Added Pendulum.angle documentation. Reassign to @jonathanolson for verification.

[2015-02-05 16:22] jonathanolson commented on #48
Looks good, thanks!

[2015-02-05 16:22] #48 closed

[2015-02-05 16:22] jonathanolson commented on #30
Looks good, thanks!

[2015-02-05 16:22] #30 closed

[2015-02-05 16:23] jonathanolson commented on #45
Looks good, thanks!

[2015-02-05 16:23] #45 closed

[2015-02-05 16:24] jonathanolson commented on #50
Looks good, thanks!

[2015-02-05 16:24] #50 closed

[2015-02-05 16:24] jonathanolson commented on #51
Looks great, thanks!

[2015-02-05 16:24] #51 closed

[2015-02-05 16:25] jonathanolson commented on #47
Looks good, thanks!

[2015-02-05 16:25] #47 closed

[2015-02-05 16:25] jonathanolson commented on #46
Looks good, thanks!

[2015-02-05 16:25] #46 closed

[2015-02-05 16:27] jonathanolson commented on #49
Could the documentation be added where Pendulum.angle is declared?

[2015-02-05 17:53] jonathanolson opened #52 "PeriodTrace documentation for visibility"
Documentation on the difference between isPeriodTraceVisibleProperty (parameter) and isVisible (property) would be helpful for the future.

Also, isPeriodTraceVisibleProperty's comment is "Flag property to track pendulum path." Is that correct?

[2015-02-05 18:02] jonathanolson opened #53 "String variables should start with a lowercase character"
For example:
[code]
should be changed to something like:
[code]

Generally an upper-case first character is reserved for constants (all upper case) or types (we can't do "new EarthString()")

[2015-02-06 09:23] andrey-zelenkov commented on #49
Move 'angle' property description comments to Pendulum.angle.

[2015-02-06 09:46] andrey-zelenkov commented on #52
Added documentation for PeriodTrace 'isVisible' property, fixed documentation for isPeriodTraceVisibleProperty. Reassign to @jonathanolson for verification.

[2015-02-06 09:57] andrey-zelenkov commented on #53
String variables names fixes (change first character to lowercase). Reassign to @jonathanolson for verification.

[2015-02-12 01:54] jonathanolson commented on #53
Looks great, thanks!

[2015-02-12 01:54] #53 closed

[2015-02-12 01:54] jonathanolson commented on #52
Looks great, thanks!

[2015-02-12 01:54] #52 closed

[2015-02-12 01:55] jonathanolson commented on #49
Looks great, thanks!

[2015-02-12 01:55] #49 closed

[2015-02-16 21:43] jonathanolson opened #54 "Purpose of extra Planets.js enumeration?"
It seems cleaner to have this code within Planet.js:
[code]
and there would be no need for Planets.js.

Additionally, it seems like comparisons are being done with strings for planet names. It seems much cleaner to only do comparisons with Planet objects themselves (e.g. GravitySliderWithListNode.js would have planetProperty be a Property.<Planet> instead).

Is there a reason why string literals a

[2015-02-16 21:45] jonathanolson opened #55 "Internally, could 'planets' be renamed 'bodies'?"
The moon is not a planet. So "Planet" => "Body", etc., including variable names.

[2015-02-16 21:52] jonathanolson opened #56 "Code Review"
Will tag minor fixes here and new code review issues.

[2015-02-16 22:05] jonathanolson opened #57 "Document FrictionSliderNode.js padding"
It looks like padding is provided to the VBox, but only one node is added to the VBox. Can a comment be added to explain why this is done, or can it be done in a cleaner way?

See #56.

[2015-02-16 22:08] jonathanolson opened #58 "Add friction property to PendulumLabModel"
It seems cleaner to add a friction property to the base model that is always 0 for the first screen, than it is to add custom properties to other screen's models.

In addition, this can remove the cast in PendulumLabModel where ```this.friction || 0``` is used.

See #56.

[2015-02-16 22:15] jonathanolson opened #59 "FrictionSliderNode reset"
It seems like the slider node should listen to the frictionSlider value, so that when the frictionProperty is reset(), the value on the slider node will change to the corresponding value.

Then, we don't have to have a reset() function on FrictionSliderNode, AND if there is another place where we modify friction (say through 3rd party tools), then the slider will properly update.

See #56.

[2015-02-18 21:27] pixelzoom opened #60 "mvt should be renamed modelViewTransform"
...throughout the source code. PhET made a decision a few months ago that the verbose name was preferred.

[2015-02-19 16:23] aaronsamuel137 opened #61 "Avoid assignment in Node constructor calls"
During code review #56, I noticed this code in GravityWithSliderListNode:

[code]

In this code, the new SubSupText is being assigned to valueLabel at the same time as it is added into the children array. My recommendation is to avoid this pattern in PhET code as it is harder to read and maintain.

If there are other places in the code that use this pattern, it would be good to change those as wel

[2015-02-19 16:47] andrey-zelenkov commented on #60
Rename mvt to modelViewTransform. Reassign to @pixelzoom for verification.

[2015-02-19 16:55] aaronsamuel137 opened #62 "Unfinished comment in PendulumLabRulerNode"
During code review #56, I noticed this code in PendulumLabRulerNode:

[code]

It's not clear to me what "// -1px to" means. Is this an unfinished comment? Can you either remove it or clarify what it means?

Also, it might be nice to make a var rulerHeight = 34, so it's more clear what that constant is doing there in the call to RulerNode.

[2015-02-19 16:56] andrey-zelenkov commented on #61
Avoided assignment in Node constructor calls. Reassign to @aaronsamuel137 for verification.

[2015-02-19 17:04] pixelzoom commented on #62
We might consider moving all of the constructor params to options. All of these parameters could have default values, and options are more "self documenting".

[2015-02-19 17:09] pixelzoom commented on #60
Looks good, thanks, closing.

[2015-02-19 17:09] #60 closed

[2015-02-20 07:15] andrey-zelenkov commented on #62
Remove outdated comment, move rulerHeight to constants block. Reassign to @aaronsamuel137 for verification.

[2015-02-20 11:31] andrey-zelenkov commented on #54
Remove Planets.js, refactor Planet.js. Reassign to @jonathanolson for verification.

[2015-02-20 12:20] andrey-zelenkov commented on #55
Renamed 'planet' to 'body'. Reassign to @jonathanolson for verification.

[2015-02-20 12:43] andrey-zelenkov commented on #58
friction property added to PendulumLabModel. Reassign to @jonathanolson for verification.

[2015-02-20 14:33] andrey-zelenkov commented on #59
Made refactoring for FrictionSliderNode reset function. Reassign to @jonathanolson for verification.

[2015-02-20 15:19] andrey-zelenkov commented on #57
Removed extra VBox node for FrictionSliderNode. Reassign to @jonathanolson for verification.

[2015-02-20 16:38] aaronsamuel137 commented on #61
This looks much better to me, thanks! Closing

[2015-02-20 16:38] #61 closed

[2015-02-20 16:41] aaronsamuel137 commented on #62
Looks good. Closing

[2015-02-20 16:41] #62 closed

[2015-02-23 15:45] aaronsamuel137 opened #63 "Hardcoded Strings in PendulumSlidersNode"
During code review #56, I noticed the use of hardcoded strings "Length" and "Mass" instead of taking strings from the strings file.

[code]
...
[code]

[2015-02-23 15:56] aaronsamuel137 opened #64 "Document Array types"
During code review #56, I noticed many JSDoc strings like the following:

[code]

The PhET convention elsewhere is to document the type of the items in the array, so something like

[code]

[2015-02-23 16:03] aaronsamuel137 opened #65 "Should numbers be translatable?"
During code review #56, I noticed that numbers are cast to strings and put into TextNodes in a few places in this sim.

[code]

I'm not sure that we need to translate these or not, but I want to at least make an issue that we can come back to when we get further along in the translation process.

Leaving unassigned for now.

[2015-02-23 16:18] aaronsamuel137 opened #66 "Acceleration Arrows in PendulumsNode"
During code review #56, I noticed this code:

[code]

It looks to me like the call to link is totally unnecessary after linkAttribute has already been called. The call to pendulum.updateAccelerationVector() also looks unnecessary, and it seems like it is getting called every frame in any case.

Is this correct, or is there some reason for having this code that I am not seeing? Please either docume

[2015-02-24 03:39] jonathanolson commented on #54
Looks great, thanks!

[2015-02-24 03:39] #54 closed

[2015-02-24 03:39] jonathanolson commented on #55
Looks great, thanks!

[2015-02-24 03:39] #55 closed

[2015-02-24 03:40] jonathanolson commented on #58
Looks great, thanks!

[2015-02-24 03:40] #58 closed

[2015-02-24 03:41] jonathanolson commented on #59
Looks good, thanks!

[2015-02-24 03:41] #59 closed

[2015-02-24 03:42] jonathanolson commented on #57
Looks great, thanks!

[2015-02-24 03:42] #57 closed

[2015-02-24 08:25] andrey-zelenkov commented on #63
Replace hardcoded 'mass' and 'length' strings. Reassign to @aaronsamuel137 for verification.

[2015-02-24 08:28] andrey-zelenkov commented on #64
Fixed documentation for Array types. Reassign to @aaronsamuel137 for verification.

[2015-02-24 09:08] andrey-zelenkov commented on #66
Replace 'link' to 'lazyLink' for accelerationVector, added comments, fixed bug for velocityVector. Reassign to @aaronsamuel137 for verification.

[2015-02-24 14:26] aaronsamuel137 commented on #63
Looks great! Closing

[2015-02-24 14:26] #63 closed

[2015-02-24 14:31] aaronsamuel137 commented on #64
Looks good, closing

[2015-02-24 14:31] #64 closed

[2015-02-24 14:46] aaronsamuel137 commented on #66
Looks better, thanks for the comments. Closing

[2015-02-24 14:46] #66 closed

[2015-03-06 16:29] aaronsamuel137 opened #67 "Nav icons are white rectangles"
Looks like we need icons for the screens on the nav-bar and home screen.

I assume this is a known issue, but since it isn't being tracked here I thought I would create an issue for it.

[2015-03-06 16:41] aaronsamuel137 opened #68 "Node options should be passed to Node.call() when possible"
During code review #56 I noticed this code in PeriodTraceNode

[code]

It seems like the usual PhET convention would be to pass rotation in as one of the Node options like so:

[code]

This way it is more clear that rotation is a Node a option and not a private attribute. Is there any reason why this isn't being done? Will you either change this or add some documentation. Thanks.

[2015-03-06 17:04] aaronsamuel137 opened #69 "Use layer pattern instead of insertChild"
During code review #56 I noticed this in ProtractorNode:

[code]

Most PhET code uses addChild() instead. Can you either document why this is necessary or use addChild? Thanks.

[2015-03-06 17:12] aaronsamuel137 commented on #68
A similar pattern occurs in PendulumLabView:

[code]

[2015-03-06 17:23] aaronsamuel137 commented on #68
And in StopwatchNode:

[code]

[2015-03-06 17:31] aaronsamuel137 opened #70 "JSDoc in SystemSlidersNode"
During code review #56 I noticed the JSDoc in SystemSlidersNode:

[code]

Is this correct? It seems like this component is used on all screens, not just the Lab screen.

[2015-03-06 17:44] aaronsamuel137 opened #71 "Extra intermediary Nodes in SystemSlidersNode"
During code review #56 I noticed this code in SystemSlidersNode:

[code]
...
[code]

Are these intermediary Nodes necessary, or could they be removed and have everything be in the VBox?

[2015-03-06 18:43] aaronsamuel137 opened #72 "JSDoc for setLabelText"
During code review #56 I noticed that the function setLabelText of ToolsControlPanelNode has no JSDoc.

I think it would be helpful to have a little documentation describing where this function is used and why it is necessary.

[2015-03-06 19:00] arouinfar commented on #67
@aaronsamuel137, the home screen icons have been designed, but this was done after the spec went out. @ariel-phet who should I send the artwork to?

[2015-03-07 02:51] ariel-phet commented on #67
@arouinfar, send them to @aaronsamuel137

Since they were not in the spec, best for us to just take care of it ourselves

[2015-03-09 20:58] arouinfar commented on #67
Artwork has been emailed to @aaronsamuel137 to implement.

[2015-03-10 12:31] andrey-zelenkov commented on #71
It's necessary to correct align content inside content node (vBox). If we remove this nodes than headers will be placed incorrectly.

[2015-03-10 13:43] andrey-zelenkov commented on #68
Added using of Node.call in PeriodTraceNode and PendulumLabView. Center of StopwatchNode depend on Times's size and can be set only after creating of Timer. Reassign to @aaronsamuel137 for verification.

[2015-03-10 13:48] andrey-zelenkov commented on #69
Added comment for insertChild call. Reassign to @aaronsamuel137 for verification.

[2015-03-10 13:51] andrey-zelenkov commented on #70
Fixed JSDoc comment in SystemSlidersNode for 'pendulumLabModel' param. Reassign to @aaronsamuel137 for verification.

[2015-03-10 13:55] andrey-zelenkov commented on #72
Added JSDoc for setLabelText. Reassign to @aaronsamuel137 for verification.

[2015-03-10 14:48] pixelzoom commented on #68
@aaronsamuel137 Actually, the more common pattern is:

[code]

If you pass options to `Node.call` before children are added, transformation-related options will cause an assertion error (something like "suspicious matrix operation") because the bounds of a Node are Bounds2.NOTHING by default.  Doing `this.mutate( options )` as the final step in the constructor ensures that the node's portion of th

[2015-03-10 14:55] aaronsamuel137 commented on #68
@pixelzoom, I'm aware of that pattern, but in these cases there was no need to call this.mutate( options ).

Would you suggest using that pattern everywhere for consistency even when it isn't necessary?

[2015-03-10 14:56] aaronsamuel137 commented on #69
Looks good. Closing.

[2015-03-10 14:56] aaronsamuel137 commented on #70
Looks good. Closing

[2015-03-10 14:56] #70 closed

[2015-03-10 14:57] aaronsamuel137 commented on #72
Looks good. Closing

[2015-03-10 14:57] #72 closed

[2015-03-10 14:59] pixelzoom commented on #68
No need to use that pattern everywhere. And I didn't look at the specific case that here. But the example you gave was for Node, and `Node.call( this, options )` is highly likely to cause an assertion failure. So for subtypes of Node, it's highly recommended to use the `this.mutate` pattern.

[2015-03-10 15:01] aaronsamuel137 commented on #68
OK thanks for pointing that out and clarifying.

[2015-03-10 15:52] aaronsamuel137 commented on #67
Assigning to @jonathanolson for review - I used the mipmap plugin so the icons would downscale better on firefox for the navbar.

[2015-03-18 17:34] aaronsamuel137 opened #73 "Take a screenshot for 1.0!"
Noticed during code review #56. Not sure who should be assigned for this.

[2015-03-18 17:35] aaronsamuel137 commented on #73
Should be 2048x1344, PNG, 32-bit color.

[2015-03-18 17:42] aaronsamuel137 opened #74 "Missing credits"
Noticed during code review #56. Credits need to be filled in.

[2015-03-18 17:48] aaronsamuel137 opened #75 "Sim doesn't gracefully handle internationalization"
During code review #56, when running the sim ?stringTest=double, I noticed this behavior:

![screen shot 2015-03-18 at 11 45 01 am](https://cloud.githubusercontent.com/assets/3193912/6715475/55325c2c-cd64-11e4-8fc2-3bcdfac8ea92.png)

Ideally, we want to account for the fact that strings might be longer in translated versions of the sim. In this case, we want to ensure that strings don't extend out

[2015-03-18 17:50] aaronsamuel137 commented on #75
Also, the energy graph text overlaps with the button:

![screen shot 2015-03-18 at 11 49 56 am](https://cloud.githubusercontent.com/assets/3193912/6715563/f3b4f1ac-cd64-11e4-9c6a-eece0edd97ca.png)

[2015-03-18 17:51] aaronsamuel137 commented on #68
This looks good to me as far as these specific instances are concerned. Closing

[2015-03-18 17:51] #68 closed

[2015-03-18 18:16] aaronsamuel137 commented on #74
Closing, duplicate of #27

[2015-03-18 18:16] #74 closed

[2015-03-18 18:22] aaronsamuel137 opened #76 "IntroView file is empty"
Noticed during code review #56. I assume it should be deleted, along with the view folder that it is in.

[2015-03-24 16:18] andrey-zelenkov commented on #76
Removed empty IntroView.js file. Git cannot track folders so 'view' folder cannot be removed directly. It must be removed automatically. Reassign to @aaronsamuel137 for verification.

[2015-03-24 17:59] andrey-zelenkov commented on #75
Fixed internationalization for body items menu and small fix for energy box title (it's seems a little better). I could only fix issue by adding option titleAlignX: 'right' ('titleXSpacing' didn't work) but I thought that not correct way. I will be grateful for advise how to fix it. Reassign to @aaronsamuel137.

[2015-03-25 14:04] aaronsamuel137 commented on #76
Looks good, closing.

[2015-03-25 14:04] #76 closed

[2015-03-25 14:05] aaronsamuel137 commented on #71
Sounds good, closing.

[2015-03-25 14:05] #71 closed

[2015-03-25 14:17] aaronsamuel137 commented on #75
It seems like the way to go here is to decide on a maximum width for the text, and then scale down the text if it exceeds this maximum. Choose a max width that makes sense for the layout to continue looking good.

See https://github.com/phetsims/molecules-and-light/issues/8 for an example of addressing this issue in another sim, and let me know if you have questions.

[2015-03-25 14:49] aaronsamuel137 opened #77 "Period Timer behavior seems weird"
I'm not totally sure if this is an issue or not, since I don't know what the intended behavior of the period timer should be. But, it seems odd to me that you can reset the timer and the button still remains a reset button instead of going back to a play button. Also it is possible to get the timer into a strange state where the button looks like reset, but pressing it starts the timer - as well a

[2015-03-25 14:51] aaronsamuel137 commented on #56
I have finished looking through all of the files of the sim. @jonathanolson, feel free to take a pass if you'd like, or we can just finish here once the remaining issues are addressed.

[2015-03-30 22:57] arouinfar commented on #77
Good catch, @aaronsamuel137. The period timer is not functioning properly.

After playing around with the period timer, I've found a few issues. Some of them are similar to issues that have previously been reported and resolved.
- If the pendulum's motion is stopped using friction, and then the period is recorded, the timer will run infinitely (somewhat similar to the issues reported in #25)
- The

[2015-04-02 18:31] aaronsamuel137 opened #78 "Use modelViewTransform instead of metersToPixels function"
During code review #56, we noticed two different kinds of transforms:

[code]

And

[code]

It looks like the model coordinates should be in meters and the view coordinates are in "pixels". It would make more sense here to have a model view transform that goes from meters to pixels instead of passing around a function "metersToPixels". Can the metersToPixels function be removed and the modelViewTr

[2015-04-02 19:17] aaronsamuel137 commented on #69
This pattern occurs in a few places in this sim. We discussed this at our developer meeting on 4/2/2015. We'd prefer a different pattern instead of using the pattern:

[code]

It would be better to create a layer for the node like so:

[code]

and then later:

[code]

This way adding new nodes won't be as likely to break things in the future if the ordering of the children changes.

[2015-04-07 17:15] andrey-zelenkov commented on #69
Added using of layer pattern instead of insertChild. Reassign to @aaronsamuel137 for verification

[2015-04-07 17:51] andrey-zelenkov commented on #75
Fixed energy box title internationalization by adding 'titleAlignX' and 'titleXMargin'. There was a problem with scaling that it was really difficult to read small text for long strings. Hope this fix is not too much worse than proposed by @aaronsamuel137. Reassign to @aaronsamuel137 for verification.

[2015-04-07 18:22] aaronsamuel137 commented on #69
Looking great, thanks!

There are two other places where insertChild is being used that seem off to me.

1. Could you apply the same layer pattern in ProtractorNode
2. In PendulumSlidersNode, there is a kind of confusing use of insertChild. I like that the code is generalized to handle more pendulums if needed, but it seems less maintainable and more complicated than it needs to be.

This code:

[

[2015-04-07 18:36] aaronsamuel137 commented on #75
The fix for the energy box title looks good to me. Thanks.

Is there any way you could adjust the right hand panels too? It would be good if:

1. The two panels stayed the same width
2. The sliders in the top panel stayed centered (though the text can stay left aligned)

![screen shot 2015-04-07 at 12 34 29 pm](https://cloud.githubusercontent.com/assets/3193912/7030535/91f13cdc-dd22-11e4-9bc1-c595

[2015-04-08 17:24] andrey-zelenkov commented on #75
Fixed panel width and slider position. Reassign to @aaronsamuel137 for verification.

[2015-04-08 19:17] andrey-zelenkov commented on #69
Fixed insertChild for protractorNode. Layer pattern used instead of insertChild for PendulumSlidersNode. I implemented simplification suggested by @aaronsamuel137 with minor fixes. Thanks! Reassign to @aaronsamuel137 for verification.

[2015-04-10 15:11] aaronsamuel137 commented on #69
Looks good to me. Thanks! Closing

[2015-04-10 15:11] #69 closed

[2015-04-10 15:18] aaronsamuel137 commented on #75
Looks good. Closing.

[2015-04-10 15:18] #75 closed

[2015-05-17 18:48] andrey-zelenkov commented on #78
Replace metersToPixels function by modelViewTransform. Reassign to @aaronsamuel137 for verification.

[2015-05-18 15:52] aaronsamuel137 commented on #78
Looks much better, thanks! Closing

[2015-05-18 15:52] #78 closed

[2015-05-18 18:20] andrey-zelenkov commented on #77
Fixed period timer behavior. Reassign to @arouinfar for verification.

[2015-05-18 20:35] arouinfar commented on #24
When trying to verify #77, I found this issue (as described in the original post) to be present in the latest pull from gitdev. Reopening and assigning to @andrey-zelenkov.

[2015-05-18 21:25] arouinfar commented on #24
Issue reopened in error (remote pull of git-dev is not working), so closing.

[2015-05-18 21:25] #24 closed

[2015-05-19 19:22] arouinfar commented on #77
The previously reported issues appear to be have been fixed, but there are still a few outstanding issues:

- [ ] If the Reset All button is pressed while the period is being recorded, the period trace will continue to draw until the pendulum reaches the midline. The trace remains on screen until the pendulum is displaced, the length or gravity is changed, the period timer is started again, or the

[2015-05-31 00:33] andrey-zelenkov commented on #77
Fixed period timer behavior for ResetAll button handlers. Reassign to @arouinfar for verification.

[2015-06-01 17:38] arouinfar commented on #77
The first issue has been fixed, but the second one is still present. Reassigning to @andrey-zelenkov.

[2015-06-03 22:54] andrey-zelenkov commented on #77
Fixed path tracing when period timer is not recording the period. Reassign to @arouinfar for verification.

[2015-06-03 23:05] arouinfar commented on #77
Looks great, thanks! Closing.

[2015-06-03 23:05] #77 closed

[2015-06-04 18:44] phet-steele opened #79 "Sensitivity of zoom is very low"
Clicking the zoom in and zoom out buttons on the energy graph has a very small step size, and it takes many many clicks to get to small energies (say the user had a small length and small mass).

https://drive.google.com/file/d/0B3HJopSo_QqLbWN6RVk5cndNV00/view?usp=sharing

Tested on Win 8.1 FF

Troubleshooting information (do not edit):
Name: Pendulum Lab
URL: http://www.colorado.edu/physics/phet

[2015-06-04 18:52] phet-steele opened #80 "Period Trace at Small Lengths"
The period trace is drawn strangely at lower lengths:

![pendla](https://cloud.githubusercontent.com/assets/5863899/7991853/811e3608-0ab8-11e5-9e8b-7d1c6d04e800.gif)

Tested on Win 8.1 FF

Troubleshooting information:
Name: Pendulum Lab
URL: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.4/pendulum-lab_en.html
Version: 1.0.0-dev.4 2015-06-04 17:46:07 UTC
Features missing: tou

[2015-06-04 18:56] phet-steele opened #81 "Reset all button does not reset pendulum 2's energy graph"
Reset all button does not reset pendulum 2's energy graph.

After swinging the pendulum and giving it energy:

![sensible energy](https://cloud.githubusercontent.com/assets/5863899/7991894/ca33a418-0ab8-11e5-8bbe-31bc8ab7a188.PNG)

After clicking reset all, and not touching the second pendulum:

![nope](https://cloud.githubusercontent.com/assets/5863899/7991914/e4abf304-0ab8-11e5-9489-211b58796f9d

[2015-06-04 19:00] phet-steele commented on #81
Also seems the zoom level might not get reset either.

[2015-06-04 19:15] phet-steele opened #82 "Energy Conservation Violated"
At the smallest length, the total energy bar does not stay constant but instead fluctuates up and down.
1. Go to the Energy screen.
2. Slide the length down to 0.1m.
3. Set the pendulum swinging (90 degrees works well).
4. Enable the energy graph and zoom in until the total energy bar is shown at a reasonable scale.

Ruler is there for reference:

![pendla2](https://cloud.githubusercontent.com/ass

[2015-06-04 19:34] phet-steele opened #83 "Thermal energy created while sliding variables during swing"
On the Energy screen, open the energy graph and set the pendulum swinging. After this, changes in length or mass cause a thermal energy build up even though friction is turned off. It helps to slide these variables back and forth quickly and repeatedly.

![pendla3](https://cloud.githubusercontent.com/assets/5863899/7992693/5a5d9954-0abe-11e5-83b7-b7a33644b7d1.gif)

Tested on Win 8.1

Troubleshooti

[2015-06-04 19:50] phet-steele opened #84 "Skipping Gravity Values"
1. On the Lab screen, the sim starts with the gravity at 9.81 and the box above reading "Earth".
2. Click the right arrow until the gravity is 9.92. The box above read "Earth" up until 9.91 (don't think it should) but now reads "Custom" at 9.92.
3. Click left ONCE. The box now reads "Earth" and 9.91. So far this box is contradicting the choice made in phetsims/bending-light/issues/64.
4. Now, clic

[2015-06-05 17:46] phet-steele opened #85 "Period timer gains time by clicking the step forward button"
The step forward button adds 0.05 seconds to the period timer regardless of the sim's conditions.

![pendla4](https://cloud.githubusercontent.com/assets/5863899/8011721/4245778c-0b78-11e5-8fa9-bc2e127f077a.gif)

Tested on Win 8.1 Chrome

Troubleshooting information:
Name: Pendulum Lab
URL: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.4/pendulum-lab_en.html
Version: 1.0.0-de

[2015-06-05 18:37] phet-steele opened #86 "Gravity values are saved when switching to and from Planet X"
1. On the Lab screen, adjust the gravity to any desired value.
2. Switch to "Planet X" gravity.
3. Switch to  Moon, Earth, or Jupiter (Custom is not as dramatic).
4. Your value from step 1 will still be displayed, incorrectly, as that planet's gravity.

https://drive.google.com/file/d/0B3HJopSo_QqLVEgwc3VqT1hESzQ/view?usp=sharing

Tested on Win 8.1 Chrome

Troubleshooting information:
Name: Pendul

[2015-06-05 18:50] phet-steele commented on #82
Found a pretty extreme case after getting the masses to swing in rapid circles:

![pendla5](https://cloud.githubusercontent.com/assets/5863899/8012794/4b237e7c-0b81-11e5-9984-5d56a5c8636c.gif)

[2015-06-05 18:53] orejolaphet opened #87 "Return button does not reset energy graph"
On the "Energy" and "Lab" screens with 2 masses selected the return button only resets one of the masses Energy graph.

To Reproduce:
Open sim
Select Energy or Lab
Select 2 masses
Expand the Energy Graph
Move both masses
Hit the return button
Change the displayed graph to the other mass
![pendulum lab](https://cloud.githubusercontent.com/assets/5631059/8012870/cd5cfd96-0b81-11e5-84a9-b15eaa301079.

[2015-06-05 19:15] phet-steele opened #88 "iPad 2 iOS 8.3 Performance"
With an iPad 2, iOS 8.3 (our device labeled Tycho), on the Lab screen I was getting a constant 10 fps in 1.0.0-dev.4.
Things enabled:
1. Two masses, both swinging around 30 degrees
2. Default lengths and masses
3. No friction
4. Velocity checked
5. Acceleration checked
6. Energy graph expanded
7. Gravity maxed at 25.00

Compared to Chrome 43 on Win 8.1: ~35 fps

[2015-06-05 19:26] phet-steele opened #89 "Unable to open on iPad 2 iOS 7.0.4"
Safari keeps crashing every time it tries to load. Tested 1.0.0-dev.4. The sim DOES load on iOS 7.1

[2015-06-05 19:33] phet-steele commented on #88
Slightly better on iOS 7.1, ~14 fps

[2015-06-05 22:25] bryo5363 opened #90 "Easy to create infinite energy"
It is very easy to generate a large amount of energy. In doing this, the various energy values will fluctuate.

Steps to reproduce
1) open energy tab
2) move mass to make it oscillate
3) reduce the length of the pendulum at the minimum of the trajectory
4) keep repeating

![recording 7](https://cloud.githubusercontent.com/assets/7717368/8016337/7433a4d6-0b9f-11e5-8238-e95c23660710.gif)

[2015-06-08 19:27] phet-steele commented on #89
Know issue, @jbphet after making the issue please reference it here.

[2015-06-08 20:15] bryo5363 opened #91 "Possible to have infinite period trace"
This is a tricky issue but it shows incorrect behavior nonetheless.

Steps to reproduce:
1) open sim
2) open intro
3) turn on period trace
4) drag the length slider at the point of highest potential. if you can reduce the length long enough, you will be able to get the period trace to continue drawing as the mass rotates around origin

* works best if mass is descending from point of maximum poten

[2015-06-10 16:23] elisemorgan opened #92 "No cut off on zoom out of energy graph"
Test device: iPad2

Operating System: iOS 8.3

Browser: Safari

Problem description: You can just keep zooming out on the energy graph until no data is viewable.
Steps to reproduce:

Severity: Minor

Screenshots:
![image](https://cloud.githubusercontent.com/assets/12610678/8087855/93633f2e-0f5a-11e5-8bb3-ad1471008d61.png)

Troubleshooting information (do not edit):
Name: Pendulum Lab
URL: http://w

[2015-06-10 17:30] elisemorgan opened #93 "Period timer measures more time in slow motion"
Test device: iPad2

Operating System: iOS 8.3

Browser: Safari

Problem description: The Period timer measures more time passing when slow motion is on. With the stopwatch the seconds actually tick slower in slow motion, which is how I think it's supposed to be also for the period timer.

Steps to reproduce: Start period timer when pendulum is in motion. Switch to slow motion. Start period timer a

[2015-06-10 18:33] phet-steele commented on #89
Being tracked in phetsims/scenery/issues/434

[2015-06-10 18:49] phet-steele commented on #91
I maybe have seen this in other environments. Can you post a video or screenshot, or is this what you are talking about?

Happens around 16 seconds in:
https://drive.google.com/file/d/0B3HJopSo_QqLRnQ2MGcwTTZIRm8/view?usp=sharing

[2015-06-10 18:51] phet-steele commented on #91
Or this?
https://drive.google.com/file/d/0B3HJopSo_QqLSk9Ydnl6anNHVFk/view?usp=sharing

[2015-06-10 19:30] phet-steele opened #94 "Period length inconsistent"
Between multiple trials in the Lab screen using the period timer, the length of the period should be the same each time if conditions are not changed. However, each trial performed in 1.0.0-dev.4 returns a different period length.

1st Trial:
![period trial 1](https://cloud.githubusercontent.com/assets/5863899/8091931/ff655248-0f73-11e5-8860-578cbdd20052.PNG)

2nd Trial:
![period trial 2](https://

[2015-06-10 19:40] phet-steele opened #95 "Add a second angle to be displayed when moving pendulum 2"
On touch devices, the user can grab both pendulums and move them at the same time. The angle that is displayed then struggles to show the angle of each pendulum and ends up flashing quickly between the two values. It would be helpful to add a second angle value display (maybe also make the text red to match the red color of the second pendulum) so that each angle can be seen separately.

[2015-06-11 19:36] phet-steele opened #96 "Period trace disappears even when sim is paused"
@arouinfar, I would add the question label to this but I don't have the permission to on this repo. Would it be more beneficial to keep the period drawn when the sim is paused? It certainly would make more sense.

[2015-06-11 19:47] arouinfar commented on #96
Great suggestion, @phet-steele! I agree that it would make more sense for the period trace to remain on screen while the sim is paused. If you pause the sim before the period has been completed, the trace will not fade away (left). However, if the sim is paused <i>after</i> tracing a full period, the trace will fade away (right).
![image](https://cloud.githubusercontent.com/assets/8419308/8116483/

[2015-06-11 19:49] phet-steele commented on #82
The flash version is slightly different. There is a fluctuation, but it is only by a couple pixels and not nearly as exacerbated as the HTML5 version. I would assume this is because there is no zoom in function for the energy graph in flash, and if there was it might look like the above videos.

[2015-06-11 19:50] phet-steele commented on #82
Also, the minimum length allowable in flash is only 0.5m which helps prevent some extreme cases at small lengths.

[2015-06-11 20:01] phet-steele opened #97 "Acceleration doesn't update when sim is paused"
After pausing the sim with "Acceleration" vectors checked in the Lab screen, if you change the gravity the vectors do not change in magnitude until the sim is unpaused.

Troubleshooting information:
Name: Pendulum Lab
URL: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.4/pendulum-lab_en.html
Version: 1.0.0-dev.4 2015-06-04 17:46:07 UTC
Features missing: touch
User Agent: Mozi

[2015-06-12 20:15] arouinfar commented on #97
In the Flash version, the acceleration vectors will update if gravity is changed while the sim is paused.

[2015-06-12 20:28] arouinfar commented on #93
I think this issue is mostly likely related to #94. In OSX 10.9.5/Chrome 43, I recorded the period the default length and mass at 28* several times in Normal and Slow Motion.

Normal: 2.5180 s, 2.5330 s, 2.5350 s, 2.5340 s
Slow Motion: 2.5292 s, 2.5395 s, 2.5274 s, 2.5282 s

[2015-06-12 20:34] arouinfar commented on #87
Also present in OSX 10.9.5/Chrome 43.

[2015-06-12 20:40] arouinfar commented on #86
Also present in OSX 10.9.5/Chrome 43.

[2015-06-12 20:42] arouinfar commented on #97
Issue observed in OSX 10.9.5/Chrome 43.

[2015-06-12 20:44] arouinfar commented on #85
Also present in OSX 10.9.5/Chrome 43.

[2015-06-12 20:49] arouinfar commented on #83
This is definitely a bug. Changing the mass and/or length should not introduce thermal energy. It looks like this issue is present in the Flash version as well.

[2015-06-12 21:28] arouinfar opened #98 "Move panels outside of dev boundary when at wider aspect ratios"
The playspace would open up quite a bit if the panels could move outside of the dev boundary when at wider aspect ratios.
![screen shot 2015-06-12 at 3 24 38 pm](https://cloud.githubusercontent.com/assets/8419308/8140291/8bf1008c-1117-11e5-8125-a6f8417fb0f1.png)
This has been done in Energy Skate Park: Basics and Charges and Fields. (See https://github.com/phetsims/charges-and-fields/issues/9)

[2015-06-12 21:42] arouinfar commented on #86
This issue exists on all screens, not just the Lab screen.

Desired behavior:
* If switching from Planet X to any of the non-Custom options (e.g. Moon), the slider/readout should match the value of that option (e.g. 1.62m/s^2).
* If switching from Planet X to Custom, the value should return the value of gravity selected immediately before Planet X was chosen. For example, if I select Jupiter, then

[2015-06-12 21:53] arouinfar commented on #84
Good catch, @phet-steele. I've observed this issue in OSX 10.9.5/Chrome 43. The behavior of the gravity slider should match the behavior of the index of refraction sliders in Bending Light.

* If a tweaker or slider is used to change the gravity from a benchmark (e.g. Earth), "Custom" should immediately be displayed.
* When in Custom mode, "Custom" should ALWAYS be displayed, even if gravity is ad

[2015-06-15 17:09] bryo5363 commented on #83
To elaborate on this issue...

When spinning the pendulums extremely fast and with the minimum length, thermal energy will be spontaneously created and then will vanish.

![recording 8](https://cloud.githubusercontent.com/assets/7717368/8165594/eb0e2ebc-134e-11e5-98d5-d23a28305e3d.gif)

[2015-06-16 18:44] phet-steele opened #99 "Period timer refuses to measure period"
1. Go to the Lab screen and enable the period timer.
2. Enable the second pendulum.
3. Set the second pendulum swinging, don't touch the first (blue) pendulum.
4. Press the play button on the period timer.
5. Press the little switch on the period timer to switch it to measuring the period of the second pendulum.
6. The period will not be measured, and clicking the u-turn looking restart button the

[2015-06-17 18:51] elisemorgan commented on #91
I'm seeing the same thing on safari. Both objects have an infinite period - object two is being traced while object one isn't.
![screen shot 2015-06-17 at 12 44 22 pm](https://cloud.githubusercontent.com/assets/12610678/8215760/8a0620c8-14ef-11e5-8329-9a97f9286c87.png)

[2015-06-17 19:08] elisemorgan opened #100 "Energy graph shows kinetic when object is at rest"
Test device: MacBook Pro

Operating System: OS X 10.9.5

Browser: Safari 7

Problem description: When I used friction to stop the objects, Object Two's energy graph displayed only kinetic energy even though it was fully at rest. It should be only thermal energy, which is what was displayed when I repeated the same steps again. It doesn't appear to be a consistent issue, I was unable to see it happ

[2015-06-17 19:35] elisemorgan opened #101 "Infinite period timer when moving frame by frame"
Test device: MacBook Pro

Operating System: OS X 10.9.5

Browser: Safari 7

Problem description: The Period Timer increases indefinitely when moving frame by frame.

Steps to reproduce: Pause motion of objects. Click the next frame button repeatedly and watch period timer. Even though the object still has a period, it is not measured.

Severity:

Screenshots: https://drive.google.com/file/d/0B_TAL

[2015-06-22 15:55] bryo5363 opened #102 "Typical scenery issues on Firefox"
I noticed slight glitching in the gravity and friction box when sliding the slider on FF 38 OSX 10.9.5

[2015-06-22 17:19] orejolaphet commented on #87
This issue is actually a duplicate of issue #81

[2015-06-22 17:19] #87 closed

[2015-06-22 17:20] orejolaphet commented on #81
@arouinfar can you add the bug label to this issue? Issue #87 was a duplicate of this issue.

[2015-06-22 17:36] orejolaphet opened #103 "Oscillation are shown w/ mass @ angle 0"
You can initialize the mass at a very small angle approximately 0.1 degrees, but the sim displays 0 degrees. Oscillation occurs even though the initial conditions state 0 degrees.
(Notice the dotted line for 0 degrees does not line up with the string of the pendulum)
Also even though oscillation occurs the energy graph does not display anything.
![screen shot 2015-06-22 at 11 31 10 am](https://clo

[2015-06-22 17:54] orejolaphet opened #104 "Zoom component of Energy graph does not reset"
The scale which you zoom to on the energy graph does not return to default after using the sim reset button.
To reproduce:
Open sim
Select either the "Energy" & "Lab" Screen
Open Energy Graph
Click Zoom in or out 10+ times
Hit Reset
Open Energy Graph

[2015-06-22 18:02] orejolaphet opened #105 "Friction is always present even when friction is set to none"
Noted in Issue #82

If you zoom in the the energy graph 50+ times you will eventually see some friction in the system during oscillation even though friction is set to none. (Note the smaller the angle the more you must zoom in)

To reproduce:
Open sim
Select seen w/ energy graph
Open energy graph
Click zoom 50+ times
Move mass to large angle and begin oscillation

At small angles
![screen shot 20

[2015-06-22 18:05] orejolaphet commented on #105
Weirdness. If you leave the page for a period of time the friction is no longer displayed.

[2015-06-22 19:03] ariel-phet commented on #89
This appears to be due to bugginess in iOS 7.0.4. Closing

[2015-06-22 19:03] #89 closed

[2015-06-22 19:10] ariel-phet commented on #103
@arouinfar - perhaps consider adding another decimal point to the angle measurement readout? Not sure if that is appropriate or not. But this seems like a design/pedagogical question not a bug.

[2015-06-22 19:32] ariel-phet commented on #95
Thanks for the suggestion @phet-steele - assigning to @arouinfar for discussion

[2015-06-22 19:37] ariel-phet commented on #98
@arouinfar - we can have @jonathanolson address this enhancement with other tweaks once MLL is finished

[2015-06-22 19:39] ariel-phet commented on #79
@arouinfar do you want to spec a zoom amount?

[2015-06-22 19:42] ariel-phet commented on #90
The minimum length will change when we rescale a few things in the sim, hopefully will address this issue

[2015-06-22 19:44] ariel-phet commented on #92
@arouinfar - we could set a limit on zooming. (and grey out the appropriate button once the limit is reached). Thoughts?

[2015-06-22 19:46] ariel-phet commented on #82
Hopefully will be fixed with a new minimum length

[2015-06-22 19:47] ariel-phet commented on #83
Since present in the flash version...we will address

[2015-06-22 19:50] ariel-phet commented on #80
Hopefully will be addressed with new minimum length

[2015-06-22 19:52] ariel-phet commented on #91
Hopefully will be addressed with new minimum length

[2015-06-27 15:19] andrey-zelenkov commented on #81
Fixed pendulum 2's energy graph reset. Reassign to @phet-steele for verification.

[2015-06-27 15:51] andrey-zelenkov commented on #97
Fixed acceleration vector update when sim is paused. Reassign to @phet-steele for verification.

[2015-06-27 16:34] andrey-zelenkov commented on #94
All animation updates (including pendulum motion and timer tick) made through special "step" function. Precision of timer tick directly depend on frequency of "step" function calls. For my pc this precision can hesitate from 0.012s to 0.05s and it leads to different measurement results. For #93 same situation. We can try to split this tick into many small ticks within sim to increase precision (li

[2015-06-27 18:26] andrey-zelenkov commented on #84
Fixed gravity values behavior for "custom" body. Reassign to @phet-steele for verification.

[2015-06-27 19:10] andrey-zelenkov commented on #86
Fixed gravity values saving. Reassign to @phet-steele for verification.

[2015-06-27 19:26] andrey-zelenkov commented on #85
Fixed time gain by clicking the step forward button. Reassign to @phet-steele for verification.

[2015-06-27 19:29] andrey-zelenkov commented on #104
Fixed via https://github.com/phetsims/pendulum-lab/commit/79da8e1db0261faf9f9d275e7ba457c86074afff commit. Reassign to @orejolaphet for verification.

[2015-06-27 19:35] andrey-zelenkov commented on #101
Fixed via https://github.com/phetsims/pendulum-lab/commit/30bb52056bac31509d4c4bb76e779505c23bde82 commit. Reassign to @elisemorgan for verification.

[2015-06-27 19:50] andrey-zelenkov commented on #105
Same behavior you can see for the original Java simulation. It's a feature of selected mathematical model.

[2015-06-28 00:21] andrey-zelenkov commented on #100
It's not easy to find and reproduce this issue. Thanks for checking. This behavior was fixed via https://github.com/phetsims/pendulum-lab/commit/79da8e1db0261faf9f9d275e7ba457c86074afff commit. Reassign to @elisemorgan for verification.

[2015-06-28 14:50] andrey-zelenkov commented on #99
Fixed period timer measure method. Reassign to @phet-steele for verification.

[2015-06-28 14:59] andrey-zelenkov commented on #93
This issue is duplicate #94 and imho can be closed. They have exactly the same problem and when one of them will be fixed, then another one will be fixed too.

[2015-06-29 15:58] orejolaphet commented on #105
@ariel-phet what do you think about this behavior?

[2015-06-29 17:54] elisemorgan commented on #101
Looks good. Closing

[2015-06-29 17:54] #101 closed

[2015-06-29 17:59] elisemorgan commented on #100
I'm not seeing the issue anymore. Closing

[2015-06-29 17:59] #100 closed

[2015-06-30 16:43] orejolaphet commented on #104
Verified fixed in latest commit. Closing.

[2015-06-30 16:43] #104 closed

[2015-07-03 18:56] ariel-phet commented on #105
Seems like something we will need to address internally

[2015-07-08 17:11] arouinfar commented on #99
It looks like the behavior has been halfway fixed. The period can now be recorded if the period timer is reset and record/play is pressed again (end of step 6 in @phet-steele's description). However, if the period timer is in record mode, and then switched to pendulum 2 (step 5) the period will still not be recorded.

[2015-07-08 17:17] arouinfar commented on #97
The acceleration vector will update while paused unless Planet X is chosen. However, in the Flash version, the acceleration vector updates even if Planet X is chosen. Assigning to @andrey-zelenkov.

[2015-07-08 17:21] arouinfar commented on #93
I agree, this looks like a duplicate of #94. Closing.

[2015-07-08 17:21] #93 closed

[2015-07-08 17:24] arouinfar commented on #94
Thanks for your input, @andrey-zelenkov. @ariel-phet, can you please take a look at this issue and comment? Would it be possible to split the tick in half rather than many small ticks? Perhaps that would improve the precision of the period timer without tanking performance.

[2015-07-08 17:33] arouinfar commented on #86
The previously described issues have been fixed. Thanks, @andrey-zelenkov!

However, I've noticed a new, though related issue. If the gravity is selected to be one of the benchmark values (e.g. Moon) and then the slider is moved, the display should change to "Custom." This currently behaves properly, but only for the <b>first</b> time the slider is used to adjust the gravity away from a benchmark

[2015-07-08 17:34] arouinfar commented on #85
Looks good, closing!

[2015-07-08 17:34] #85 closed

[2015-07-08 18:06] arouinfar opened #106 "Gravity combo box will only display Custom the first time it is chosen"
In verifying #84 and #86, I observed a bug in the gravity selection menu. This issue seems unrelated to previous issues, so opening a new issue.

If the gravity is selected to be one of the benchmark values (e.g. Moon) and then the slider/tweaker is used to adjust the value, the display should change to "Custom." This currently behaves properly, but only for the <b>first</b> time the slider/tweake

[2015-07-08 18:07] arouinfar commented on #86
This issue seems bigger previously described. I've decided to open a new issue (#106) and close this one.

[2015-07-08 18:07] #86 closed

[2015-07-08 18:08] arouinfar commented on #84
Looks good aside from what is reported in #106, so closing.

[2015-07-08 18:08] #84 closed

[2015-07-08 18:15] arouinfar commented on #81
Looks good, closing.

[2015-07-08 18:15] #81 closed

[2015-07-26 15:07] andrey-zelenkov commented on #106
Fixed custom planet choose behaviour. Reassign to @arouinfar for verification.

[2015-07-26 15:10] andrey-zelenkov commented on #97
Fixed via 413059c33970bb8bda4aca4cea1c41d123692e28 commit. Reassign to @arouinfar for verification.

[2015-07-26 18:56] andrey-zelenkov commented on #99
Fixed path visibility behaviour in period timer measure method. Reassign to @arouinfar for verification.

[2015-07-26 23:31] andrey-zelenkov commented on #88
Made some performance optimizations. Reassign to @phet-steele for verification.

[2015-07-27 19:19] arouinfar commented on #97
Fixed! Closing.

[2015-07-27 19:19] #97 closed

[2015-07-27 19:20] arouinfar commented on #99
Issue has been fixed, thanks! Closing.

[2015-07-27 19:20] #99 closed

[2015-07-27 19:20] arouinfar commented on #106
Thanks, looks good! Closing.

[2015-07-27 19:20] #106 closed

[2015-08-25 17:14] pixelzoom opened #107 "pendulum-lab screen icons have incorrect aspect ratio"
Failure in requirejs mode with assertions enabled. Stack trace below.  Noted during a run of test-server.

[code]

[2015-08-25 17:33] jonathanolson commented on #107
Looks like increasing the width from 688 to 694 will be the closest for the 1.47 aspect ratio (but 693 is the closest for the 1.4691689 aspect ratio for the home-screen size).

To keep it centered, I'll try padding 3 pixels on each side first.

[2015-09-10 20:11] jonathanolson commented on #105
Right now the "thermal energy" is calculated as "total energy - kinetic and potential energy", which causes any inaccuracies and cumulative errors to be added to the thermal energy.

http://www2.phy.ilstu.edu/~rfm/380s13/chapters/CH2.4_Pendulum.pdf notes a differential equation for the change in kinetic/potential energy, which could be approximated on its own at every step.

@ariel-phet, does this

[2015-09-10 22:06] pixelzoom opened #108 "port translations from Flash"
When this is done, also rename any keys with 'tab' prefix to 'screen'.  For example "tab.intro" should become "screen.intro". See https://github.com/phetsims/tasks/issues/353.

[2015-09-11 18:24] samreid opened #109 "Property.storeValue will be disappearing"
Property.storeValue will be disappearing due to https://github.com/phetsims/axon/issues/67 .  Pendulum Lab is the only simulation using this method, and it will need to find another way.  Not sure who should work on this, @jonathanolson can you comment?

[2015-09-11 19:24] samreid commented on #109
I pushed a proposed fix above and tested it some.  @jonathanolson can you take a look and see if this will work?

[2015-09-14 16:34] jonathanolson commented on #109
Looks good to me.

[2015-09-14 16:34] #109 closed

[2015-09-15 16:00] jonathanolson commented on #105
Reassigning for a response to the above comment.

[2015-09-15 16:31] jonathanolson commented on #67
Looks good, I'll take care of sizing in https://github.com/phetsims/pendulum-lab/issues/107.

[2015-09-15 16:31] #67 closed

[2015-09-15 20:52] ariel-phet commented on #105
In our discussion I think we agreed on the above approach.

[2015-09-23 01:57] samreid opened #110 "Reset all on screen 1 doesn't reset the ruler visibility checkbox"
Noting this issue before I work on https://github.com/phetsims/axon/issues/67

[2015-10-09 23:32] jonathanolson commented on #107
Still an issue in automated testing. Will plan to resolve soon.

[2015-10-29 17:25] #107 closed

[2015-10-29 23:35] jonathanolson commented on #94
After rewriting the core model, it's much much more consistent, but is still occasionally off. I haven't touched the period-recording code, so I'll take a look there next.

[2015-10-29 23:37] jonathanolson commented on #83
Should be no thermal energy now created. Model is accurate to within ~11 digits, AND the thermal energy is not added to at all when friction is off.

[2015-10-29 23:37] #83 closed

[2015-10-29 23:38] jonathanolson commented on #82
Model rewrite has fixed this. Energy conservation is generally accurate for the first 11 significant digits. Old model used single Euler step, new model uses 10 4-th order Runge Kutta steps.

[2015-10-29 23:38] #82 closed

[2015-10-29 23:43] jonathanolson commented on #35
The mass part of the drag computation was actually correct, since I was noting the force, and the old code was noting acceleration (div by m^1/3 => multiply by m^2/3).

http://fy.chalmers.se/~f7xiz/TIF081C/pendulum.pdf notes that for many pendulums, the Reynolds number is sufficient to have drag be proportional to the square of the velocity, so I've implemented that. It's quite noticeable, so if i

[2015-10-30 21:33] jonathanolson commented on #110
Also doesn't affect stopwatch at all.

[2015-10-30 21:41] jonathanolson commented on #110
Stopwatch not affected on any screens.

[2015-10-30 22:07] #110 closed

[2015-10-30 22:13] jonathanolson commented on #108
I believe the decision was to have translation done again. Since there are a number of different strings in the new version, can this issue just be closed?

[2015-10-30 22:14] jonathanolson commented on #105
Forgot this on my list of things that were fixed by the model updates.

[2015-10-30 22:14] #105 closed

[2015-10-30 22:16] jonathanolson commented on #98
@arouinfar, should this basically be handled like bending-light, where the panels move (but only up to a point for extreme window sizes)?

[2015-10-30 23:13] jonathanolson commented on #96
Looks like this was already fixed.

[2015-10-30 23:58] jonathanolson commented on #108
@aaronsamuel137 thought it was fine to have the translators re-do it, so I'm closing this issue.

[2015-10-30 23:58] #108 closed

[2015-10-31 03:54] jonathanolson commented on #91
I'm curious what the desired behavior is for the period trace tool. It seems that by changing the length/gravity, one can switch between spinning around the axle or not.

Also unless the minimum length is equal to the maximum length (not happening), this will always be possible to cause.

Thoughts?

[2015-10-31 04:00] jonathanolson commented on #90
Not sure how changing the minimum length would prevent this, seems more like a design issue to me.

Energy now won't fluctuate with the new model.

If you want to keep energy constant while changing the length, the angle would need to change (if the pendulum is swinging up to 90 degrees on each side, increasing the length at 90 degrees would increase energy).

[2015-10-31 04:01] jonathanolson commented on #80
Is there a minimum length decided for the sim yet?

[2015-10-31 04:02] jonathanolson commented on #73
I'll take care of this once we're more finalized.

[2015-10-31 04:03] jonathanolson commented on #88
I'll investigate this performance as part of https://github.com/phetsims/pendulum-lab/issues/18

[2015-10-31 04:03] #88 closed

[2015-10-31 04:05] jonathanolson commented on #65
I could imagine translators wanting to have the equivalent of 'First Mass' / 'Primary Mass' / etc. instead of 'Mass 1', but I'll leave the translation decision up to design.

[2015-10-31 04:07] jonathanolson commented on #56
As I'm fixing/polishing, I'll handle anything that comes up.

[2015-10-31 04:07] #56 closed

[2015-10-31 05:12] #40 closed

[2015-11-04 06:12] ariel-phet commented on #80
@jonathanolson - you should discuss with @arouinfar. Basically we want to make the new "scale" of the sim be 1 m. So turn the 2 meter stick, into a 1 meter stick and choose minimum lengths and sizes of the mass (visual size of the mass) such that things work out nicely.

[2015-11-04 22:41] arouinfar commented on #98
@jonathanolson, yes let's handle it like Bending Light. Thanks!

[2015-11-09 19:11] jonathanolson commented on #80
@arouinfar, should I just experiment with tuning values until I get something that looks good, and then check with you?

[2015-11-09 20:39] jonathanolson opened #111 "Review string patterns"

[2015-11-12 18:08] arouinfar commented on #80
That would be great, @jonathanolson.

@ariel-phet, I think we'd originally discussed leaving the 2m stick as is, but limiting the length of the pendulum to 1.5m. If we still have scaling issues at 1.5m, we can drop down to 1m. I think it's best to leave as much length as possible to see the square root behavior, as that was the original motivation for changing the minimum length from 0.5 m to 0.1

[2015-11-12 18:09] arouinfar commented on #80
Assigning to @jonathanolson to experiment with the scale.

[2015-11-12 18:17] arouinfar commented on #65
I think it's best to use the same convention as Hooke's Law, so the the Mass and Length strings would be remain the equivalent of "Mass 1" or "Length 2" like in the situation below.
![image](https://cloud.githubusercontent.com/assets/8419308/11126844/3e1ed07a-892e-11e5-96f5-931c58b663f4.png)

[2015-11-17 17:57] oliver-phet opened #112 "User suggestion: add variable acceleration"
As  you move toward HTML 5 sims, I would love it if you would consider adding more planets or a variable acceleration due to gravity slider to the Pendulum lab.
Thanks for your consideration.

[2015-11-17 17:59] ariel-phet commented on #112
This is actually a feature in the new HTML5 version on the lab screen. Please let the user know, and then close the issue.

[2015-11-17 18:00] #112 closed

[2015-11-19 04:44] jonathanolson opened #113 "Refactoring revealed duplicated Timer.js code"
Can we refactor the shared (copy-pasted?) code from Timer.js that is in PeriodTimerNode.js?

[2015-11-30 22:28] jonathanolson commented on #94
This is also super-obvious if you use the step button to move the model forwards.

[2015-11-30 22:48] jonathanolson commented on #94
Will plan to add precise emitted events from the pendulum model for when it crosses the 0-angle AND when it turns around (with computed timestamps and direction information).

PeriodTrace will be mostly rewritten to take those as input, storing the proper maximum angles.

[2015-12-01 05:37] jonathanolson commented on #94
Period testing with new method:

normal: (steps ~16ms, e.g. runge-kutta every 1.6ms)
2.5001977142680523
2.500197713160823
2.5001977164903697
2.500197714112651
2.500197714225982
2.5001977136204485

step button: (steps 250ms, runge-kutta steps 25ms at a time + interpolation of crossing time)
2.5001980285900767
2.5001980172768867
2.500198002549144
2.5001979917706394
2.5001979812211825
2.5001979709007

[2015-12-01 06:41] jonathanolson commented on #94
Fixed, as described above.

[2015-12-01 06:41] #94 closed

[2015-12-01 07:02] jonathanolson commented on #80
Leaving the maximum length at 2m seems to work well graphically (for small angles), otherwise there's a lot of empty space between what feels like the "top" and "bottom". At 1.5m we're still overlapping control panels.

I committed a fix that will allow the period trace to look nice down to 0.1m. Can you comment on the "scaling" issues that having the 2.0m pendulum causes?

[2015-12-01 07:04] jonathanolson commented on #113
It really got hacked a lot in visual changes, don't see any way.

[2015-12-01 07:04] #113 closed

[2015-12-01 07:07] jonathanolson commented on #111
Looks good.

[2015-12-01 07:07] #111 closed

[2015-12-01 07:10] #65 closed

[2015-12-01 18:59] jonathanolson commented on #98
I changed it so it expands until it has comfortable space to contain the 2m pendulum (don't want to expand further, since otherwise it just means things get farther apart.

[2015-12-01 18:59] #98 closed

[2015-12-01 19:08] #27 closed

[2015-12-01 19:41] jonathanolson commented on #18
Noticed a good amount of low-hanging fruit to optimize, mostly related to the period trace shape (and other shapes like arrows).

[2015-12-01 22:18] arouinfar commented on #98
I think it looks great @jonathanolson!

[2015-12-01 23:04] arouinfar commented on #80
@jonathanolson The problem arises from the size of the masses. The largest mass needs to be small enough to attach to a 0.1m string. With the current mass scaling, here's what the largest mass/smallest length looks like:
![image](https://cloud.githubusercontent.com/assets/8419308/11517009/24fd3d82-9844-11e5-889c-443cf8937b6f.png)

Here's the smallest mass/smallest length combo:
![image](https://cl

[2015-12-02 19:13] arouinfar commented on #103
Good observation @orejolaphet.

@ariel-phet, I don't think adding a decimal point is pedagogically necessary. I doubt students would confuse this behavior with a bug, and it could potentially facilitate conversations about rounding and small values. The decimal would also look a bit crowded if we add a second angle readout, as recommended in #95.

[2015-12-02 19:13] #103 closed

[2015-12-02 19:38] arouinfar commented on #95
Great suggestion @phet-steele!

I think the best approach would be to add a readout for the second pendulum to the right of the midline. Currently, the angle readout always appears to the left of the midline (regardless of the direction of the displacement).

Here's a mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/11541476/af7e03d2-98ef-11e5-8ac4-5a5b9bd48b96.png)

Note that b

[2015-12-03 18:40] jonathanolson opened #114 "Long-term maintenance"
The sim will probably need some refactoring when we instrument it for together, as there are a lot of tightly-bound things.

[2015-12-17 21:22] jonathanolson opened #115 "Period trace already running potentially before it's enabled?"
Screens 1 and 2?

[2015-12-18 01:31] jonathanolson opened #116 "How to improve RulerNode usage"
Desired general appearance is a ruler from 0 to 200cm where every multiple of 20 cm is labeled (excluding 0 and 200cm).

It looks like MLL is giving empty-string tick labels for 0, 200, and every 20*n+10 (multiple of 10 that isn't a multiple of 20):

[code]

I was wondering if @pixelzoom could provide a brief recommendation for how this should be done, and if using empty tick labels is the correct

[2015-12-18 05:11] jonathanolson commented on #95
Implemented, let me know how it looks. I considered moving the angles farther away from the center horizontally, so they're a bit easier to read while moving pendulums at most angles. Thoughts?

[2015-12-18 05:12] jonathanolson commented on #79
Applied a multiplier change from 1.05 to 1.3. Let me know if it's sufficient, or if more is needed.

[2015-12-18 05:17] jonathanolson commented on #115
Fixed.

[2015-12-18 05:17] #115 closed

[2015-12-18 06:09] jonathanolson opened #117 "Pendulum mass touch areas"
Should they be increased? Sometimes hard to grab, but adding touch areas could allow them to overlap (so you might get mass 1 when trying to drag mass 2 accidentally).

Thoughts?

[2015-12-18 07:52] jonathanolson opened #118 "[branch] color-fade"
For testing performance in https://github.com/phetsims/pendulum-lab/issues/18 (whether opacity or alpha is better).

[2015-12-18 08:34] jonathanolson opened #119 "Check iPad/iOS normal/slow-motion radio buttons"
Seems to be starting up without a fill.

[2015-12-18 08:40] jonathanolson commented on #18
iPad 3 testing shows 25 FPS with just pendulum moving, 20 FPS with period trace on, 20 FPS with energy graph visible, 18 FPS with both visible. The works (velocity/acceleration arrows, energy graph, ruler, stopwatch running, period timer active showing a period trace, and 2 pendulums) is running at 11 FPS.

@ariel-phet, do you mind testing to see if performance is acceptable? It will be harder to

[2015-12-18 08:45] jonathanolson commented on #80
Rescaled various things, and redid lengths/sizes on the period trace to also compensate. Testing 1m scale, since it could be more easily physically tested, AND the densities are more realistic (almost that of water) instead of the 2m scale (similar to the lightest balsa woods).

Assigning to @ariel-phet for testing.

[2015-12-21 23:07] arouinfar commented on #95
Looking good @jonathanolson!

I agree, let's give it a try.

[2015-12-21 23:13] arouinfar commented on #79
@jonathanolson, the zoom seems much more responsive now. Thanks! I'll go ahead and close this issue.

[2015-12-21 23:13] #79 closed

[2015-12-21 23:14] arouinfar commented on #80
@jonathanolson @ariel-phet I think the new scaling looks great!

I hadn't given the densities any thought before, but now that @jonathanolson has pointed it out, I think we are better off sticking with a max length of 1m.

[2015-12-23 21:40] pixelzoom commented on #116
This ruler has no insets, so the min and max tick labels are needed. But otherwise, RulerNode assumes that there's a label for every major tick:

`assert && assert( Math.floor( rulerWidth / majorTickWidth ) + 1 === majorTickLabels.length ); // do we have enough major tick labels?`

An unfortunate implementation, I agree - it was ported from the Java implementation (piccolophet.RulerNode).  A bette

[2015-12-28 21:11] arouinfar commented on #91
@jonathanolson I've been playing around with dev.6 and I think the period trace is looking good for a non-spinning pendulum. When the pendulum spins about its own axis, I think we have two options.

* I'm not sure that a spinning pendulum technically has a period anymore since it's not oscillating back and forth. (The period timer records an infinite period while spinning.) We could remove the per

[2015-12-28 21:33] arouinfar commented on #90
Now that @jonathanolson has fixed the model and adjusted the scale/zoom, I don't think there's anything else that needs be done to address this issue.

It seems unphysical to try to hold energy constant while changing the length, so let's not go there.

Everything looks good to me in dev.6, and the energy no longer fluctuates, so I'll go ahead and close this issue.

[2015-12-28 21:33] #90 closed

[2015-12-28 21:37] arouinfar commented on #117
@jonathanolson, I haven't used this sim much on an iPad. I'll be able to try it out tomorrow to see how it feels, and then I'll let you know.

[2015-12-29 19:36] arouinfar commented on #92
Limiting the zooming poses some challenges due to the huge range in energies that can be displayed. The default scale works nicely in most cases, and doesn't generally require a ton of zooming to optimize the energy graph. However, when dealing with the extremes, it can take quite a few clicks to optimize the zoom. Here's some data from a few test cases:

* Maximum energy (~75 J): max gravity, max

[2015-12-29 20:16] arouinfar commented on #80
I've plotted period vs. length for the new scale in dev.6 (left) along with the original Flash version (right). Both graphs have the same step size (0.05 m). Unfortunately, I don't think the square root relationship is more obvious in dev.6 than in the original Flash version. One of the learning goals of this sim is for students to derive the functional relationship between the period and length.

[2015-12-29 20:32] arouinfar opened #120 "Energy graph should clear on Return"
The return button stops the swing of the pendulum and returns it to 0*. The energy of the pendulum should become zero when this happens. However, the energy graph does not clear when return is pressed. The pendulum has stopped swinging, but there's still energy displayed on the graph.

![image](https://cloud.githubusercontent.com/assets/8419308/12041598/fa3ad9d6-ae2f-11e5-92b7-dd9fa393b02a.png)

O

[2015-12-29 20:39] arouinfar opened #121 "Angular displacement tick marks visible after pendulum 2 removed"
In dev.6, I noticed that if I switched to from two-pendulum to one-pendulum mode while both pendulums are swinging, the tick marks showing Pendulum 2's angular displacement are still visible.

![image](https://cloud.githubusercontent.com/assets/8419308/12041687/da552698-ae30-11e5-9a23-c331f2be1a72.png)      ![image](https://cloud.githubusercontent.com/assets/8419308/12041691/e2ad3664-ae30-11e5-819

[2015-12-29 20:58] arouinfar opened #122 "Can step size be a bit smaller?"
I've noticed that stepping forward in dev.6 is very coarse and feels a bit choppy. It was much smoother in dev.5 and allowed users to have more precise control. I'm guessing that performance optimization may have required the step size to become a bit coarser, but is there any way that it could be made a bit smaller @jonathanolson? The step forward button doesn't feel like a very useful feature in

[2015-12-29 22:01] arouinfar commented on #117
I played around with the sim today for a bit on an iPad. In general, the touch areas seem pretty good. I had some trouble grabbing the masses while they were moving at normal speed, but that's true even in mouse environments.

I didn't experience any trouble grabbing the masses while at rest or while moving in slow motion, even at the minimum size. @amyh-phet also gave it a try, and had a similar

[2015-12-30 05:56] jonathanolson commented on #117
I think I recall helping with the solution in Charges and Fields. Basically if their touch misses everything (hits the background), we can check to see if it's close to a pendulum (and choose the closest), and if so trigger it on the pendulum.

That sidesteps the "front pendulum touch area overlaps back pendulum" issue, at the cost of more code complexity.

[2015-12-30 06:05] jonathanolson commented on #80
The size of the minimum length in dev.6 looks good. Could we instead label that 0.1 m, and make the string just a bit longer at 1.0 m? We have a little bit of vertical real estate that we can work with.

To fit the dynamic range of 0.1m-1m, it's effectively the same as increasing our maximum range (0.15m-1.5m). That goes significantly off the page:
![screen shot 2015-12-30 at 12 01 19 am](https://

[2016-01-04 23:22] jonathanolson commented on #122
Switched to the same time interval (50ms) for the step button.

[2016-01-04 23:29] jonathanolson commented on #121
If the red tick marks disappear when switching to 1 pendulum, should they reappear when they go back to 2 pendulums?

The sim code is pretty much "tick marks turn on when the user drags the pendulum, and is only turned off by reset".

The design doc notes:

I didn't see anything else about that behavior.

[2016-01-04 23:34] #120 closed

[2016-01-04 23:58] arouinfar commented on #121
Yes, this would be the ideal behavior.

I re-read that section of the design doc for context (it's been awhile). From looking at it, it's clear to me that I hadn't thought about the situation described in this issue. I can tell I was just playing with it in one-pendulum mode to figure out the tick behavior. Sorry for the discrepancy. I'll update the design doc accordingly.

Technically, the curren

[2016-01-05 17:15] jonathanolson commented on #91
It's more complicated/computationally intensive to determine IF the pendulum is spinning or will reverse direction, particularly if friction is enabled. This sounds like we'd want to not start the period trace/timer IF we compute that it will spin?

Like stopping the trace (and starting to fade) once the pendulum reaches the vertical/up position?

I'm not sure I have a particularly good solution.

[2016-01-05 17:20] #121 closed

[2016-01-05 17:38] ariel-phet commented on #18
@arouinfar assigning to you to check out performance on iPad - see what you think in something like the lab scenario with both pendula and all options checked

[2016-01-05 17:45] ariel-phet commented on #92
@arouinfar perhaps it is then best to just set no limits? Trust the user to do what they need to do and assume that if they are pressing the zoom button multiple times they will not be surprised if things are out of range?

[2016-01-05 19:19] jonathanolson commented on #116
I followed the initial path of (2) for refactoring, but I can't guarantee unitsMajorTickIndex is actually a valid (non-negative integer) index. The else-if clause on line 135 (checking if majorTickIndex > options.unitsMajorTickIndex ) will only be triggered if unitsMajorTickIndex is negative OR a non-integer value (majorTickIndex starts at 0 and increases by 1, and since equality is checked first,

[2016-01-05 19:23] jonathanolson commented on #116
Closing here, see https://github.com/phetsims/scenery-phet/issues/213 for further RulerNode improvement discussion.

[2016-01-05 19:31] pixelzoom commented on #116
Reopening.

In https://github.com/phetsims/pendulum-lab/issues/116#issuecomment-169102438, @jonathanolson said:

Neither is the case.  The `else if` block at line 135 is hit by fluid-pressure-and-flow, which creates a RulerNode with `unitsMajorTickIndex: 1` and has integer tick marks.

[2016-01-05 19:32] jonathanolson commented on #116
My bad, looking into it.

[2016-01-05 19:36] pixelzoom commented on #116
Not something you necessarily have to resolve for this issue.  When I said in https://github.com/phetsims/pendulum-lab/issues/116#issuecomment-166996324:

I was assuming that you wouldn't create or layout the Text node associated with the empty tick.  But you're still doing that (line 106), then not adding it at line 117.  That's fine if it simplifies the code.

[2016-01-05 19:43] pixelzoom commented on #116
... and I don't completely understand the `else if` expression at line 135.  It was added by @jbphet in dd76f610320b87bff51e909f4722ea0b9ab53eda and is associated with https://github.com/phetsims/scenery-phet/issues/8. You might want to discuss with him.

[2016-01-05 19:48] jonathanolson commented on #116
Creating the Text node isn't great, but it only slows down the creation of the ruler, not its display. It does simplify the code and changes for now.

Will plan to handle the cleanup and refactoring in https://github.com/phetsims/scenery-phet/issues/213, since it's related to how we set the maxWidth of the units label to fit within ticks.

[2016-01-05 19:48] #116 closed

[2016-01-05 20:11] jonathanolson commented on #95
Moved them farther away, let me know if that looks good.

[2016-01-05 21:26] arouinfar commented on #95
Looks great! Closing.

[2016-01-05 21:26] #95 closed

[2016-01-05 21:49] arouinfar commented on #92
@ariel-phet that seems reasonable, given the range. I'll go ahead and close this issue. We can reopen it if there are any issues that crop up in interviews.

[2016-01-05 21:49] #92 closed

[2016-01-05 22:06] arouinfar commented on #18
iPad 2 performance is pretty good. I had the both pendulums going on the Lab screen with the vectors turned on and energy graph open, and everything looked smooth. The frame rate was pretty consistently 20 fps, except when the period timer was used (~13fps). Despite the low frame rates, the sim didn't seem laggy at all. The only noticeable issue was that the time displayed on the period timer seem

[2016-01-05 22:14] arouinfar commented on #80
Thanks for putting this into perspective @jonathanolson.

I like this idea, but if there is a 1-7m mode, wouldn't the masses have a scaling problem/unreasonable densities?

@ariel-phet could you take a look at the last few comments and chime in?

[2016-01-05 22:19] arouinfar commented on #122
Thanks @jonathanolson! That feels much better. Closing.

[2016-01-05 22:19] #122 closed

[2016-01-05 22:19] ariel-phet commented on #80
@arouinfar lets discuss in person....this may be one of those times where we just don't get everything on our wish list. With the various constraints of the sim, we may have to give up a little on this particular learning goal.

I will say, the gravity adjustment allows enough dynamic range that a square root relationship should be able to be obvious from plotting a fixed length with different "g"

[2016-01-06 00:23] arouinfar commented on #18
Testing on an iPad 3 had similar results. The sim performs pretty well unless "the works" is running as @jonathanolson described. In that case, there's some lag, but I think it's acceptable given the hardware constraints of the iPad 3. I'll go ahead and close this issue.

[2016-01-06 00:23] #18 closed

[2016-01-11 19:07] ariel-phet commented on #91
I know this is funky...however, since spinning around is really not the point of the sim...the point is simple harmonic motion, I think this is a use case we do not have to address further. Basically the idea of a "period" gets wonky in this case, and I think that is a perfectly valuable message. Period is only meaningful for a pendulum when it is performing SHM, not when spinning around the axle.

[2016-01-11 19:07] #91 closed

[2016-01-11 19:20] pixelzoom opened #123 "unused strings"
This sim hasn't been published, but looks like these strings have been replaced by icons.

[code]

[2016-01-30 02:02] jonathanolson commented on #117
Should be done, will publish a dev version for testing.

[2016-01-30 18:42] ariel-phet opened #124 "For Energy graph change label to indicate "mass 1" "mass 2""
I think for the energy graph when it is labeled currently "Energy of 2" that could be a bit misleading if read quickly...it appears there is room to say "Energy of Mass 2" and that stays consistent with the labeling of "Mass 1" and "Mass 2" on the sliders.

Seems like an easy change, mind making that @jonathanolson?

[2016-01-30 18:49] ariel-phet opened #125 ""Return" button not clearing thermal energy on graph"
Noticed this problem on 1.0.0-dev.7

 http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.7/pendulum-lab_en.html

Steps to reproduce.

1. Go to energy screen
2. Open energy graph
3. Turn friction to lots
4. Swing pendulum, let some thermal energy accumulate
5. Press return button (not reset, but return), thermal energy will remain

[2016-02-01 17:03] arouinfar commented on #124
:+1:

[2016-02-01 23:19] #124 closed

[2016-02-03 19:23] jonathanolson commented on #125
It should be a simple fix, but if you return the pendulum (i.e. grab it and move it to the center), wouldn't it maintain its thermal energy?

[2016-02-03 19:46] #123 closed

[2016-02-03 22:57] ariel-phet commented on #125
If you grab it and move it...yes. But I consider "return" to mean "return" to the stating condition. This allows you to repeat experiments, but not have to press reset and turn on all the same options. This follows a similar paradigm to GAO and I believe several other sims where we have a button that returns the experiment to the original state but does not "reset" the sim screen.

[2016-02-03 23:39] #125 closed

[2016-02-03 23:39] jonathanolson commented on #119
Checked, can't reproduce.

[2016-02-03 23:39] #119 closed

[2016-02-04 04:52] ariel-phet commented on #80
Closing

[2016-02-04 04:52] #80 closed

[2016-02-04 04:53] ariel-phet commented on #117
@arouinfar please test in this link

http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.8/pendulum-lab_en.htm

[2016-02-04 23:31] arouinfar commented on #117
@jonathanolson everything feels good on my end, though ?showPointerAreas doesn't reveal the touch areas of the masses.

@phet-steele can you take a look at this issue while dev testing? If the touch areas seem appropriate, and you don't run into any issues with overlapping masses, please close this issue.

[2016-02-05 18:24] phet-steele opened #126 "Edge shows no period trace"
Each screen will show the trace for the first period (either using Period Trace or Period Timer on the Lab screen), but once the first trace fades away no more will appear. You only see the period trace once a period has finished. Tested on Galileo, and only seen on Edge.

Sorry this gif is so small. In this video I start with mass 1 ready to go and the Period Timer waiting for the mass to start s

[2016-02-05 20:01] phet-steele opened #127 "Period Timer inconsistency between mouse and touch"
@jonathanolson @arouinfar using a mouse I can click on the little toggle/slider thing to switch between tracing mass 1 and mass 2, but on a touch screen I'm limited to having to touch the little mass images. ...why? I was super confused for awhile why I couldn't switch via touching the toggle until I learned I had to touch the images.

For clarification, I'm talking about this guy:
![pendtimerthin

[2016-02-05 20:53] BryceAG opened #128 "Period trace does wrong shape"
Test device:
Schrodinger
Operating System:
Windows 8
Browser:
Chrome
Problem description:
When the weights do a full rotation counter clockwise the trace line bends awkwardly. does not happen with clockwise rotation.
Steps to reproduce:
set the pendulum to move, and mess with the gravity until it starts to do full rotations
Severity:

Screenshots:
![ezgif com-video-to-gif](https://cloud.githubuser

[2016-02-08 17:23] arouinfar commented on #127
Good catch @phet-steele. I think it would be best to have consistent touch and click areas whenever possible.

[2016-02-08 18:17] jonathanolson commented on #126
Also reproducing with rootRenderer=canvas on Chrome.

[2016-02-08 18:21] jonathanolson commented on #128
When this occurs, Scenery throws an error:
[code]

It's trying to draw an arc with greater than 2pi of a rotation, so it will have browser-specific behavior (thus the weird appearance here).

[2016-02-08 18:24] jonathanolson commented on #128
This is related to not fixing https://github.com/phetsims/pendulum-lab/issues/91.

@ariel-phet and @arouinfar, any opinions about interrupting the period trace (and possibly fading out) when the pendulum goes past the vertical line?

[2016-02-08 18:26] ariel-phet commented on #128
@jonathanolson I would be fine if we decided to not show the period trace after the pendulum goes past the vertical line.

[2016-02-08 18:38] elisemorgan opened #129 "Acceleration/velocity arrows of 2nd mass remain on screen"
Related to https://github.com/phetsims/tasks/issues/498
Test device: Witten, iPad 2

Operating System: iOS 9.2

Browser: Safari 601.1

Problem description: When switching from two masses to one masses, the velocity and acc arrows of the 2nd mass will remain frozen on the screen.

Steps to reproduce: select to show velocity and acc arrows. Release two masses then switch back to only viewing one mas

[2016-02-08 19:01] elisemorgan opened #130 "Lab Screen Lags more than other screens on iPad 2"
Related to https://github.com/phetsims/tasks/issues/498

Test device: Witten, iPad 2

Operating System: 9.2

Browser: Safari 601.1

Problem description: The lab screen lags more than the others when variables such as length are changed. Sometimes the pendulum momentarily freezes in mid air.

Steps to reproduce: Compare basic behavior of lab screen to other screens.

Severity: minor

Screenshots:

[2016-02-08 19:04] phet-steele opened #131 "Positive and negative angle readout behaviour"
@jonathanolson @ariel-phet Currently, dragging a mass to the left displays angles up to -90 degrees. Dragging further up/left will show the angle value jump to positive 270 degrees followed by decreasing to 180 degrees as the mass continues upward. This is inconsistent with the behaviour of dragging to the right. Dragging to the right shows angles up to 90 degrees, and continues to 91+ degrees as

[2016-02-08 19:11] jonathanolson commented on #126
Fixed one Scenery-related bug, but still not fully working. Output drawn in the Canvas looks correct (below), and makes me notice that the slow-motion checkboxes also disappear.

![pendulum-lab-disappeared-1](https://cloud.githubusercontent.com/assets/480878/12896056/11398c3e-ce5d-11e5-946c-615d58844b0a.png)

[2016-02-08 20:15] arouinfar commented on #131
:+1:

[2016-02-08 20:16] arouinfar commented on #128
@jonathanolson I like @ariel-phet's suggestion. I think it will work nicely, and we'll avoid the issue of showing a period for something that doesn't technically have one.

[2016-02-08 20:46] jonathanolson commented on #126
Fixed with Scenery commits.

[2016-02-08 20:46] #126 closed

[2016-02-08 20:46] jonathanolson opened #132 "Blurry masses when rendering with Canvas"
Should appear in Edge.

[2016-02-08 21:01] #131 closed

[2016-02-08 21:27] jonathanolson commented on #128
Done, closing.

[2016-02-08 21:27] #128 closed

[2016-02-08 21:40] jonathanolson commented on #127
@arouinfar, it also seems like we should potentially make the 2nd mass look disabled when only 1 mass is shown?

[2016-02-08 21:42] jonathanolson opened #133 "Pressing buttons/controls on period timer starts drag of the timer"
Presumably we only want to start drags on non-interactive parts of the period timer, like Charges and Fields' electric potential meter?

[2016-02-08 21:44] jonathanolson opened #134 "Why is the period timer passing empty setEnabled function to ABSwitch?"

[2016-02-08 21:47] jonathanolson opened #135 "Bad touch areas"
May also be related to https://github.com/phetsims/pendulum-lab/issues/127, although with Chrome's emulation of touch events, I'm still not able to press the AB switch.

[2016-02-08 21:47] jonathanolson commented on #135
![pendulum-lab-timer-touch-areas](https://cloud.githubusercontent.com/assets/480878/12900303/d885746e-ce72-11e5-873e-e1388c183e1c.PNG)

[2016-02-08 21:48] jonathanolson commented on #135
Updating title to handle all touch-areas, as many are insufficient.

[2016-02-08 22:27] arouinfar commented on #133
Good call @jonathanolson. I don't think we should allow users to drag the period timer by clicking on the interactive parts.

[2016-02-08 23:12] arouinfar commented on #127
@jonathanolson Yes, that would also be a good idea. Let's try reducing the opacity of the 2nd mass and toggle (if possible) to 50% when in 1-pendulum mode.

[2016-02-09 18:32] phet-steele opened #136 "?stringTest=double layout issues"
@jonathanolson @arouinfar Couple of things to note with this screenshot (iPad Air 2, Leibniz):

![img_0034](https://cloud.githubusercontent.com/assets/5863899/12926297/0b093774-cf20-11e5-85b6-be5eba18753c.PNG)

1. An iPad gets VERY cramped with longer strings, especially with the Period Timer out. There's a LOT of unnecessary negative space in each panel that if removed would definitely help un-cr

[2016-02-09 18:35] phet-steele commented on #136
Troubleshooting information (do not edit):
Name: ‪Pendulum Lab‬:‪Pendulum Lab‬
URL: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.8/pendulum-lab_en.html?stringTest=double
Version: 1.0.0-dev.8 2016-02-03 23:48:40 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 9_2 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9

[2016-02-09 18:39] phet-steele commented on #136
@jonathanolson I hope it goes without saying that ?stringTest=long completely ruins the sim.

[2016-02-09 18:40] jonathanolson opened #137 "[branch] period-timers - For period timers (instead of trace) on every screen"
Deploy as a dev version.

[2016-02-09 18:45] jonathanolson commented on #134
Is suppressing the reduced opacity of the unselected option. Closing.

[2016-02-09 18:45] #134 closed

[2016-02-09 18:48] phet-steele commented on #117
@arouinfar heck yea, it's sweet and totally works!

[2016-02-09 18:48] #117 closed

[2016-02-09 18:49] jonathanolson opened #138 "Potential Scenery issue with Period Timer enable/disabling"
With rootRenderer=canvas.

[2016-02-09 19:05] arouinfar commented on #137
I made this change request for upcoming interviews. Currently the Period Timer is only available on the lab screen, while the Period Trace is available on the other two screens. The goal of this design discussion was to facilitate qualitative discussion around the  period, introduce the concept as one complete oscillation, and to potentially help students use the stopwatch to measure the period.

[2016-02-09 19:06] #127 closed

[2016-02-09 19:06] #133 closed

[2016-02-09 19:09] arouinfar commented on #137
@jonathanolson Ideally, I'd like to schedule interviews for this upcoming and Monday & Tuesday. I'll be interviewing on Mac/Chrome which is generally quite stable.

[2016-02-09 19:12] phet-steele opened #139 "Angle Markers remain seen"
@jonathanolson the little angle line marker things remain after letting go of a mass if the Gravity is min and the Friction is max. This setup ensures that masses have no KE after release:

![pendulumlabanglelines](https://cloud.githubusercontent.com/assets/5863899/12927540/ffe0ea94-cf25-11e5-8654-a8f19f0ac360.PNG)

Tested on Win 10 browsers (personal) and iPad 2 iOS 9.2 (Leibniz). For phetsims/ta

[2016-02-09 19:14] phet-steele commented on #139
@jonathanolson WOW can't believe I've never noticed they stay!

[2016-02-09 19:14] #139 closed

[2016-02-09 19:36] arouinfar opened #140 "Allow tools to leave dev boundary"
I've noticed that the stopwatch, ruler, and period timer are restricted to the dev boundary. I think it would be nice to allow these tools to be placed anywhere on-screen, as it would open up the playspace a bit more. We've done this in Bending Light and Charges & Fields. Tools can be placed anywhere on-screen, and will scoot with the browser edge if resized.

[2016-02-09 19:57] phet-steele opened #141 "Edge loses some visuals"
@jonathanolson finding a repeatable procedure for this was tricky and confusing at first, but I managed to simplify it enough:

1. Open the sim to any screen.
2. First slide the Mass 1 mass slider all the way to a max or min.
3. Then slide the Mass 1 length slider all the way to a max or min. Whether you pick max or min, it doesn't have to match your decision in the previous step.
4. Now sliding t

[2016-02-09 20:16] jonathanolson opened #142 "String tests can cause negative graph height, errors out"
[code]

[2016-02-09 20:50] #142 closed

[2016-02-09 21:49] phet-steele commented on #129
@jonathanolson similar issue:

These arrows still remain (for both masses) after a reset all, and re-enabling them. @jonathanolson can you comment if the fix for the original issue would have fixed this, too, or if this is a separate issue?

![pendulumlabarrows](https://cloud.githubusercontent.com/assets/5863899/12931705/4c768c2c-cf3c-11e5-8674-36478de5d30b.PNG)

[2016-02-09 22:21] phet-steele opened #143 "Graph doesn't update until mass translates"
@jonathanolson pretty self explanatory. Pause the sim with the energy graph open. Move some variables around and the energy bars won't update until the mass moves (press play or drag it). Note this is entirely possible without pausing the sim by means of multitouch (holding the mass in place with one finger, changing things with another).

Tested on Win 10 Chrome and iPad Air 2 (Leibniz). For phet

[2016-02-09 22:58] jonathanolson commented on #137
See http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.9/pendulum-lab_en.html (has fixes I've done to date).

Please reassign to me once you're done with it (we like to keep "branch" issues open while it's branched in the code). Let me know if I should publish another version of this after applying more fixes.

[2016-02-09 23:04] phet-steele commented on #136
The values for gravity remain unchanged in 1.0.0-dev.9.

![pendulumlabgravityvalues](https://cloud.githubusercontent.com/assets/5863899/12933698/b34f2f3a-cf46-11e5-94ae-eef150db6ccf.PNG)

[2016-02-09 23:14] arouinfar commented on #137
Thanks @jonathanolson! Everything seems to be working pretty well on my end, so I don't think there's a need to publish another version. I'll reassign this issue to you after interviews wrap up next week.

[2016-02-09 23:15] phet-steele commented on #129
@jonathanolson confirmed it's a new issue. There's more to it though in 1.0.0-dev.9, so moving to a new issue.

[2016-02-09 23:15] #129 closed

[2016-02-09 23:27] phet-steele opened #144 "Vectors aren't affected by Reset All"
Discovered while exploring #129.

1. Starting with both Velocity and Acceleration vectors checked, and with both masses swinging, reset the sim.
2. Re-enable both vectors:

![pendulumlabarrows2](https://cloud.githubusercontent.com/assets/5863899/12934080/3b610356-cf49-11e5-98ae-80f68b4a6e98.PNG)

Notice that the Velocity vector for Mass 2 is missing (trust me it's Mass 2!). Switching to 2 mass vie

[2016-02-10 21:02] phet-steele opened #145 "?stringTest shenanigans"
@jonathanolson no idea what I'm seeing here, check it out:

The normal panel:
![pendulumlabnormal](https://cloud.githubusercontent.com/assets/5863899/12961506/0d5cf2fc-cffe-11e5-91e6-f9b1ba825bb7.PNG)

Panel with ?stringTest=double (behaves as expected):
![pendulumlabdouble](https://cloud.githubusercontent.com/assets/5863899/12961522/27c87ac6-cffe-11e5-87f4-a121aebda1e7.PNG)

**BUT** using any of

[2016-02-11 07:38] jonathanolson commented on #145
Fixed. Was caused by the original authors sidestepping recommendations for the body enumeration, and passing/comparing the actual translated strings of bodies (e.g. "Earth"). And adding extra code to look up a body by its translated string. Yup.

[2016-02-11 07:38] #145 closed

[2016-02-11 07:40] jonathanolson opened #146 "Dynamic layout jiggles system sliders for short translations of "None" and "Lots""
If set with a stringTest of a single character, the slider thumb extends past the labels, and the layout can cause the slider's horizontal position to jiggle if you alternate between min/max.

[2016-02-22 18:36] arouinfar commented on #137
It looks like we will need to make a few tweaks (I will be creating the issues shortly), and do another round of interviews. I will leave this issue open for now.

[2016-02-27 07:51] jonathanolson commented on #141
I can reproduce this off 1.0.0-rc.8, but not from master. Can you test on phettest to see if master has the problem?

I may have fixed this by fixing a different Canvas bug.

[2016-02-29 16:25] phet-steele commented on #141
@jonathanolson I can't reproduce on master either.

[2016-02-29 17:02] jonathanolson commented on #141
Ok, closing. Reopen if it occurs again in next dev version.

[2016-02-29 17:02] #141 closed

[2016-03-31 05:53] jonathanolson commented on #138
Fixed in Scenery.

[2016-03-31 05:53] #138 closed

[2016-05-24 20:27] ariel-phet opened #147 "Pendulum Lab master checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 09/16/2014)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle tickets reviewed
- [x] **Learning goals and

[2016-06-06 03:28] veillette commented on #35
reopening this issue. There is a problem with having solely a quadratic drag. At low velocity, the quadratic drag becomes very ineffective at dissipating energy, (since the velocity becomes so low, the square of it becomes even smaller).
For instance, a cart given an initial push can still reach infinity, if it is only subject to quadratic drag.

In the current simulation, even at the highest fric

[2016-06-09 07:10] jonathanolson commented on #35
I definitely don't have objections to including both a linear and quadratic term.

[2016-06-13 20:53] memo330179 commented on #143
Assigning to @veillette for review.

[2016-06-14 13:30] veillette commented on #144
velocity and acceleration arrows are updated when the visibility is toggled (instead of assuming it was), I'll leave this open and you can close it when the new dev is issued

[2016-06-14 13:35] veillette commented on #140
The three tools can leave the dev boundary but will be scooted back if the browser is resized.

[2016-06-15 20:21] memo330179 commented on #146
Commit 508a433 should fix this.

[2016-06-15 20:22] memo330179 commented on #146
Assigning to @veillette for review.

[2016-06-15 20:25] memo330179 commented on #136
Assigning to @veillette for review.

[2016-06-17 13:17] Denz1994 opened #148 "Scaling of pendulum's length does not match design document."
According to the design document the version dev.9 of the Pendulum lab does not satisfy this mock-up.

**Current Version**

![image](https://cloud.githubusercontent.com/assets/13894380/16151505/5f67497c-346b-11e6-8646-8e4dd0a58dfb.png)

**Mock-up**
![image](https://cloud.githubusercontent.com/assets/13894380/16151406/d6d18ece-346a-11e6-86cb-898debfa1ddb.png)

This will require scaling of the ruler

[2016-06-28 12:39] memo330179 opened #149 "Thermal Energy Reset Button"
On the pendulum lab energy tab, there is a dynamically updating graph of the mechanical and thermal energy. After a while, the thermal energy "takes over" the graph and there is no way to reset it without resetting the pendulum along with it. There is a similar graph in energy skate park which uses a reset button that only resets the thermal energy. Is this something which would be useful to the u

[2016-06-28 17:18] Denz1994 opened #150 "Period Timer Play Button Icon Functionality"
The Period Timer's play button does not follow the design doc as follows:

The design doc specifies that the play button icon changes when the period trace starts.

![image](https://cloud.githubusercontent.com/assets/13894380/16424811/b7e7d568-3d2f-11e6-8c25-d684d45d49b3.png)

Currently the icon changes when the button is pressed. It changes from the triangle icon to the u-turn arrow image immedia

[2016-06-28 17:43] veillette commented on #146
This works. closing

[2016-06-28 17:43] #146 closed

[2016-06-28 18:22] veillette commented on #148
Assigning to @arouinfar for feedback.

[2016-06-28 18:23] veillette commented on #143
Assigning to @phet-steele

[2016-06-28 18:27] veillette commented on #136
We have deployed a new dev.10 version. Assigning to @phet-steele for review.

[2016-06-28 18:28] veillette commented on #135
I have review the touch areas. Well done. Closing.

[2016-06-28 18:28] #135 closed

[2016-06-28 18:29] veillette commented on #35
The linear and quadratic drag was implemented. Closing

[2016-06-28 18:29] #35 closed

[2016-06-29 15:23] veillette opened #151 "Sliders with non-linear behavior."
What is a good pattern to create sliders with non-linear behavior, i,e, where the property of the slider doesn't map linearly to the needed property for the model.

Here is the example in Pendulum-lab.

 Notice how sliderProperty updates the frictionProperty which itself updates the sliderProperty.
The slider works by the way.

[code]

[2016-06-29 18:15] veillette commented on #148
In consultation with @ariel-phet , we reverted the change  to the length of the reuler and the range of the pendulum lenth to match dev9. Closing

[2016-06-29 18:15] #148 closed

[2016-06-29 21:29] brroberts1231 opened #152 "Second pendulum starts off screen"
For phetsims/tasks#632
Test device: Galileo

Operating System: Win 10

Browser: Chrome

Problem description: On any of the screens, when you select 2 pendulum view, the second pendulum will initialize to having a length of 1.5m which is hanging off screen, making it impossible to drag the mass until you adjust the length slider. After you drag the slider, it will then go back to normal behavior wi

[2016-06-29 21:58] veillette commented on #152
We failed to correct that cruft from dev.10. thanks for pointing it out.

[2016-06-30 16:27] phet-steele commented on #140
:+1:

[2016-06-30 16:27] #140 closed

[2016-06-30 16:30] phet-steele commented on #143
Looks fixed to me.

[2016-06-30 16:30] #143 closed

[2016-06-30 16:32] phet-steele commented on #144
:+1:

[2016-06-30 16:32] #144 closed

[2016-06-30 16:51] arouinfar commented on #150
Good observation @Denz1994! Originally, the behavior was designed to follow the Flash version, but the current implementation is more desirable. Depending on the pendulum's speed, it may take a little while before it crosses the midline and the period starts recording. In that case, having the immediate feedback of the play button turning into the reset button lets the user know that their origina

[2016-06-30 16:51] #150 closed

[2016-06-30 17:31] arouinfar opened #153 "Increase size of pendulums and vectors in navbar icons"
@ariel-phet pointed out that the navbar icons for the Intro and Lab screens are a little hard to interpret.
![image](https://cloud.githubusercontent.com/assets/8419308/16497757/d4de825c-3eb5-11e6-8085-843f063f5545.png)

Self-assigning this issue to update the artwork for the icons. The size of the pendulums and vectors should be exaggerated a bit.

[2016-06-30 17:34] arouinfar commented on #149
This is a great suggestion @memo330179!

The use case of the reset thermal energy button in ESPB is a little different from Pendulum Lab. Primarily, the button was designed to remove the heat energy accidentally introduced through a collision between the skater and the track (caused by dropping the skater onto the track). However, it can also used to remove the accumulated thermal energy from the

[2016-06-30 18:09] pixelzoom commented on #151
HSlider currently uses LinearFunction internally to map slider positions to model values. A more general approach would be to pass this function in via `options`, with LinearFunction being the default.

[2016-06-30 18:25] arouinfar commented on #136
Took a look at this with @phet-steele. In general, things look good. My one request is that the Period Timer not be allowed to expand its size. The "Period" string has a large font size and plenty of empty space on either side to accommodate large strings without expanding the size of the tool. The same goes for the time readout -- in the unlikely event the "s" gets translated to something a bit l

[2016-06-30 20:38] phet-steele commented on #96
@arouinfar why?

[2016-06-30 20:46] arouinfar commented on #96
@phet-steele I was describing what the Flash sim did. Can't say that I can speak to the motivation there...

I also said

I believe the outcome of this issue was supposed to keep the trace from fading away once the sim is paused. However, it looks like that functionality doesn't exist in the latest dev. I'll go ahead and reopen the issue, but I'm not sure who I should assign this to...

[2016-06-30 20:47] arouinfar commented on #96
@veillette if this issue is within the scope of your work on Pendulum Lab work, please take care of it.

[2016-06-30 21:36] phet-steele opened #154 "String detaches from the angle marker"
The string detaches from the angle marker at angles higher than ~20 degrees. At low angles the string is close to the middle of the angle marker (left picture), but at higher angles it isn't (right picture):
<img width="723" alt="screen shot 2016-06-30 at 3 01 45 pm" src="https://cloud.githubusercontent.com/assets/5863899/16504913/a5225cd8-3ed7-11e6-8537-3909b4dbb7c3.png">

This causes the period

[2016-07-04 17:20] veillette commented on #152
Closing

[2016-07-04 17:20] #152 closed

[2016-07-05 16:56] phet-steele opened #155 "Automated Testing Build Error (7/5/2016 9:58 AM)"
[code]

[2016-07-06 21:38] veillette commented on #155
Thanks, it is building cleanly now.

[2016-07-06 21:38] #155 closed

[2016-07-06 21:46] veillette opened #156 "Pendulum Alignment Issues"
From a conversation with @phet-steele on Skype
- The left panels must be left aligned and share the same widths.
- The right panels must be right aligned and share the same width.
- For the upper right panel, the titles should be right aligned
- also for the lower left panel, the titles (gravity and friction) should be aligned.

[2016-07-06 22:06] veillette commented on #154
The reason for the misalignment was that the top of the protractor is not the the protractor itslef but a circle around the middle of the protractor. This was taken into account by manually raising the protractor by the radius of the circle.
The thing that was missing was the linewidth of the stroke of the circle.

We could have added it up to fix up the misalignment and that would be the end of i

[2016-07-07 14:23] veillette commented on #136
The maximum width of the 'period' title is currently limited to 80% of the width of the period Timer Pendulum Selector (That's the lower third of the period Timer.). This particular string Test double everything including patterns, so this is why the actual  value of the readout gets repeated, even though it is not translatable (only the second is).

Here is a possible translation
![image](https:/

[2016-07-07 14:28] veillette commented on #136
Notice how the width of the period timer doesn't change but the aspect ratio does (because the height of the font shrink).

Assigning back to @arouinfar for input and comments

[2016-07-07 16:06] arouinfar commented on #136
Thanks @veillette! The long strings you used look good, and I think it's fine if the height shrinks slightly. The motivation for restricting the width was to prevent the timer from becoming overly large.

[2016-07-07 17:03] veillette commented on #136
All work is done here. Let's close this issue, and the QA team can open up a new one if something else  shows up.

[2016-07-07 17:03] #136 closed

[2016-08-09 18:28] phet-steele opened #157 "Automated Testing Build Error (8/9/2016 9:56 AM)"
[code]

[2016-08-10 00:23] veillette commented on #157
There is a brace missing in the license.json file

[2016-08-10 00:24] veillette commented on #157
pendulum-lab builds without error. Closing.

[2016-08-10 00:24] #157 closed

[2016-08-10 16:05] veillette commented on #149
pinging @arouinfar : tell me what you think about the thermal reset button. It is functional.
Should we keep it?, if we keep it is the location appropriate?, size?

let me know if you can't see from master and I'll deploy a dev version.

[2016-08-10 16:56] arouinfar commented on #149
@veillette I took a look at master, and in general, this addition looks good. However, I'm a little concerned by how much vertical space we lose in the graph, particularly on the Lab screen.

Let's reduce the size of the remove heat button by 15%, but keep the same bottom alignment. The horizontal axis can then be shifted down a little to fill in the empty space. To compensate for the smaller butt

[2016-08-11 04:56] arouinfar commented on #153
I've exaggerated the Intro and Lab screen navbar icons (bottom)
![image](https://cloud.githubusercontent.com/assets/8419308/17578909/41068d9c-5f4c-11e6-9c30-7a80882c2841.png)

The modified icons look a bit more recognizable in context
![image](https://cloud.githubusercontent.com/assets/8419308/17578932/763a08fe-5f4c-11e6-9792-f438eedb52aa.png)

Here are the updated image files. These should be use

[2016-08-11 15:43] veillette commented on #153
![pendulum lab screenshot](https://cloud.githubusercontent.com/assets/7633344/17593361/9f272bb8-5fb3-11e6-8066-140403eac9c9.png)

Thanks @arouinfar, the two navbar icons have been added. I updated the license file for the images and added you to the credits.

The sim builds with brand=phet without complaint.

Closing

[2016-08-11 22:58] veillette commented on #149
![image](https://cloud.githubusercontent.com/assets/7633344/17607552/7627c27c-5ff4-11e6-8155-4e09f5fe5738.png)

With pointerAreas

![image](https://cloud.githubusercontent.com/assets/7633344/17607578/9d97a94e-5ff4-11e6-8310-57eeeb46cfeb.png)

I move down the graph a bit.
I lower the cornerRadius value of the button so that it doesn't look too round.

[2016-08-11 22:59] veillette commented on #149
The commit is on master. Assigning to @arouinfar for input.

We can a live-skype session if you want to tweak it differently.

[2016-08-11 23:01] arouinfar commented on #149
Looks good @veillette! The click (blue) and touch (red) areas on the remove thermal energy button look reversed, though.

[2016-08-11 23:07] veillette commented on #149
Good catch,
![image](https://cloud.githubusercontent.com/assets/7633344/17607881/c50477c6-5ff6-11e6-854f-ae3795ec399c.png)

[2016-08-11 23:19] veillette commented on #153
![image](https://cloud.githubusercontent.com/assets/7633344/17607958/3a2bcafe-5ff7-11e6-9ea4-be9ba6928f88.png)

We are hitting an assertion.  The intro-navbar-icon does not  have a correct aspect ratio.
It size is 1133/778= 1.45629820051

[code]

The tolerance is 0.001

FYI, the icon must be a minimum of 147x100 and have an aspect ratio of 548/373=1.469.  See https://github.com/phetsims/joist/issu

[2016-08-11 23:20] veillette commented on #153
And there is a similar problem with the intro-navbar-icon :(

[2016-08-11 23:21] veillette commented on #153
Assigning to @arouinfar to reissue new icons,

[2016-08-11 23:23] veillette commented on #149
That should fix it. If you are happy with the result. feel free to close.

[2016-08-11 23:52] arouinfar commented on #149
:+1:

[2016-08-11 23:52] #149 closed

[2016-08-12 17:49] arouinfar commented on #153
Let's try these @veillette. I resized them to 441x300.

[intro_navbar_icon.png](https://cloud.githubusercontent.com/assets/8419308/17631805/cca19716-6082-11e6-880c-d2e4f58a0106.png)
[lab_navbar_icon.png](https://cloud.githubusercontent.com/assets/8419308/17631806/ccc0c1b8-6082-11e6-9abb-6d5ff5a36d40.png)

[2016-08-12 17:59] veillette commented on #153
Thanks @arouinfar , the new icons do not trigger assertions, and the branded sim builds without errors as well.
Closing.

[2016-08-12 17:59] #153 closed

[2016-08-12 18:02] arouinfar commented on #153
Master looks good! Thanks @veillette.

[2016-08-25 23:36] pixelzoom opened #158 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:35] pixelzoom commented on #158
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:35] #158 closed

[2016-08-29 19:34] pixelzoom opened #159 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-29 22:33] #159 closed

[2016-11-18 00:30] jonathanolson commented on #154
This looks fixed, will check performance later in the process (during the code review)

[2016-11-18 00:30] #154 closed

[2016-11-18 00:32] jonathanolson commented on #114
Will handle presumably in code review.

[2016-11-18 00:32] #114 closed

[2016-11-18 00:35] jonathanolson commented on #96
I'll make the "period trace won't continue fading away while the sim is paused" change.

[2016-11-18 00:36] #130 closed

[2016-11-18 00:36] jonathanolson opened #160 "Investigate performance"
Particularly the lab screen on iPads, see https://github.com/phetsims/pendulum-lab/issues/130

[2016-11-18 00:40] jonathanolson commented on #151
I'll look into adding a value mapping function with HSlider.

[2016-11-18 00:42] jonathanolson opened #161 "Code Review"
Looks like some review has been done before, but this checklist will help me finish the sim.

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does th

[2016-11-22 18:36] jonathanolson commented on #156
Refactoring for left side would be particularly ugly without changes described in https://github.com/phetsims/sun/issues/276, I'll be waiting on that.

[2016-12-06 23:08] pixelzoom opened #162 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this sim hasn't been published yet, this should be done before RC testing and publishing.

[2017-05-05 15:10] veillette commented on #162
Some work along these lines in Pendulum.js 825556286d7d0dc7afac443518b0719b5223fa5e

[2017-05-08 19:13] veillette opened #163 "Property of Property"
While addressing #162, I came across an unusual construct in PeriodTimer.js
[code]
where pendulums is an array of Pendulum, and Pendulum itself is a PropertySet.

so we end up with code such as
[code]

[2017-06-22 16:41] jonathanolson commented on #137
@arouinfar, any verdict on these changes?

[2017-06-22 16:44] arouinfar commented on #137
@jonathanolson I'll review the interview notes and get back to you.

[2017-06-28 23:38] #162 closed

[2017-07-03 18:02] #163 closed

[2017-07-03 18:09] #132 closed

[2017-07-03 19:02] jonathanolson commented on #96
Should be implemented.

[2017-07-03 19:05] arouinfar commented on #96
👍

[2017-07-03 19:05] #96 closed

[2017-07-03 19:08] #118 closed

[2017-07-03 19:58] jonathanolson commented on #151
Handled with DynamicProperty's ability to apply a map/inverseMap between it and its source Property.

[2017-07-03 19:58] #151 closed

[2017-07-03 20:37] jonathanolson opened #164 "QA credits"

[2017-07-14 04:24] arouinfar opened #165 "Pixel polishing"
Reviewed the latest dev with @jonathanolson this afternoon to discuss pixel polishing. I have a handwritten list on my desk, so self-assigning myself so I remember to convert it to a checklist tomorrow morning.

[2017-07-14 16:36] jonathanolson opened #166 "Independent zooming"
Currently, it seems like the zoom in the energy graph for the first and second pendulum is independent. Seems weird to me, as you can adjust zooms so one looks huge, and one looks tiny (and there is no indication of zoom differences when switching back-and-forth).

Is this something that would need to change?

[2017-07-14 16:43] arouinfar commented on #166
That also seems weird to me @jonathanolson. Can you update the behavior so that the zoom is consistent across both?

[2017-07-14 16:58] jonathanolson commented on #166
Will do.

[2017-07-14 17:09] jonathanolson commented on #166
Fixed in the above commit.

[2017-07-14 17:09] #166 closed

[2017-07-14 18:12] arouinfar opened #167 "Dev boundary has inconsistent width"
Using ?dev, the width on the home screen does not match the width within the sim.
![image](https://user-images.githubusercontent.com/8419308/28224717-6ca98d8c-688d-11e7-89b9-9984853ca8e0.png)
![image](https://user-images.githubusercontent.com/8419308/28224731-7730f402-688d-11e7-9f0e-d036f6fef30a.png)

@jonathanolson not sure how much of an issue this is, but the inconsistency makes it a bit harder

[2017-07-14 19:16] arouinfar commented on #165
**Colors**
- [ ] Update panel color a light gray
- [ ] Change Length and Mass strings to black
- [ ] Hover color of mass and length slider thumbs should be a brighter red/blue rather than the default turquoise

**Sizing**
- [ ] resetAllButton should be its normal size
- [ ] Reduce size of all checkboxes and radio buttons to roughly match the height of string
- [ ] Font size of strings next to chec

[2017-07-14 19:29] arouinfar opened #168 "Add legend to energy graph"
To maximize the amount of available vertical space, abbreviate the labels in the Energy graph and add a legend dialog, similar to Masses and Springs.
![image](https://user-images.githubusercontent.com/8419308/28227676-4535e902-6898-11e7-9bca-f3b4b30aa937.png)
![image](https://user-images.githubusercontent.com/8419308/28227688-5424b808-6898-11e7-91ad-306539628ba6.png)

Self-assigning to mock up.

[2017-07-14 20:20] jonathanolson opened #169 "Remove all old-style string placeholders"

[2017-07-14 21:05] jonathanolson commented on #165
Then what is the desired behavior for its position? Currently on the Energy screen, it is top-aligned.

I was imagining the energy graph would be sized on each screen to fit nicely between the top and the tool checkbox panel.

Instead it sounds like we need to decide to keep the graph on the top (on the Energy screen), or on the bottom?

[2017-07-14 22:10] jonathanolson commented on #165
Is this describing moving these icons to the right?:
![pendulum-vectors](https://user-images.githubusercontent.com/480878/28232632-002d04fa-68af-11e7-93ab-e8793bd926d1.PNG)

[2017-07-14 22:12] arouinfar commented on #165
There is NO reason why the sim should be at a non-standard aspect ratio. Please use the standard size @jonathanolson.

My original thought was that the height would be defined by the amount of space available on the Lab screen, and it would be the same size on the Energy screen. However, it sounds like the height can be defined by how much available space there is on each screen? If that's the cas

[2017-07-14 22:13] jonathanolson commented on #167
This is caused by the sim having specified an atypical (I believe older) layout bounds (with a different aspect ratio).

The home screen has the normal (default) one. See https://github.com/phetsims/pendulum-lab/issues/165#issuecomment-315466865 for details

[2017-07-14 22:13] jonathanolson commented on #167
Requested permission for me to switch to the normal layout bounds (normal aspect ratio) in that issue, assigning for that question here.

[2017-07-14 22:47] jonathanolson opened #170 "i18n & touch-area review"

[2017-07-14 23:32] jonathanolson commented on #167
Committed initial changes for this.

Note that the "dev" bounds for the home screen do still include the navbar for the home screen, while they don't include the navbar for sim screens. This is expected, and now the aspect ratios match (left/right layout bounds locations won't change).

[2017-07-14 23:32] #167 closed

[2017-07-14 23:36] arouinfar opened #171 "Refinements to Period Timer"
The size of the period timer was reduced in #165 but it still feels a bit off to me. Self-assigning to play around with the mockups.
![image](https://user-images.githubusercontent.com/8419308/28234256-dbc5cf00-68ba-11e7-84a2-cde69c645c92.png)

[2017-07-15 10:48] MohamadSH opened #172 "other language json"
Hi ,sorry if it is not the right place for this question .  I didn't find any support-like section to put this .
I see every simulation on the project's website is available in so many languages . My problem is that I can't find the translation of my language for any of simulations in their repositories.
I need to have some of your simulation source code along with translation files. Is that possi

[2017-07-15 17:39] veillette commented on #172
Thanks for your comment @MohamadSH. At PhET we strive to get our simulations translated in as many languages as possible. All simulations produced by PhET can easily be translated. The translated simulations in a particular language can be found at https://phet.colorado.edu/en/simulations/translated.  The translation process is done by a team of volunteers across the world.

If a particular simula

[2017-07-15 17:46] veillette commented on #172
For your information all the translated strings for the HTML5 simulations are kept in the repository https://github.com/phetsims/babel

However it is easier to commit the translated strings through our webBrowser utility than do it manually.

[2017-07-16 09:02] MohamadSH commented on #172
Thank you very much for this very helpful information.
I've been looking at translation files and also your source codes for a some hours.
It will be my pleasure to participate in complete the translation of this amazing project to my own language but at the moment I'm working on integrating the translated ones with an educational website and if I did this , the result will be having so many stude

[2017-07-16 13:35] veillette commented on #172
Although we would prefer that you translate directly with our utility, it is possible to build the simulations manually from the master branch. I should warn you that the master branch is unstable and therefore can introduce bugs/issues that have not been addressed in our published versions.

For instance, if you would like to build a version of pendulum-lab in french.

First you would need to ens

[2017-07-16 14:02] MohamadSH commented on #172
Thank you very much for the help,
I understand the easiness of using your utility which I suppose you mean downloading my language version of the simulation on your website and serving it on my server.
This is fine . The only problem would be low performance . Because what we download on the website are basically some html files which involve all of the necessary libraries and java codes. I suppos

[2017-07-16 15:29] veillette commented on #172
As part of our effort, we provided the opportunity the entire website. In our deployment process,  we can then generate a version of the website in your locale  (see https://phet.colorado.edu/fr/simulations/category/html for the french version )

In addition,  a build version of all the simulations is provided in all locales such that you can use them for offline access or to host them on a separa

[2017-07-18 00:20] jonathanolson commented on #156
Left-side alignment complete.

[2017-07-18 05:25] jonathanolson commented on #165
I believe all of the relevant changes have been made, so I'd love to get feedback on the current version (published http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.13/pendulum-lab_en.html so it would be easy).

What further tweaks should be made?

[2017-07-18 05:26] jonathanolson commented on #156
I believe the alignment is as described in the pixel-polishing issue. @phet-steele, can you check over the alignment in http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.13/pendulum-lab_en.html?

[2017-07-18 05:26] jonathanolson commented on #160
@ariel-phet noted performance was acceptable, closing for now.

[2017-07-18 05:26] #160 closed

[2017-07-18 06:00] MohamadSH commented on #172
The first link is exactly what I talked about . I mean in that way we have to serve a large HTML file on our server.
But the second link which I had not found about, is absolutely amazing and I can't thank you enough for this very valuable information . I think the best way to host simulations on a Linux server would be installing the whole package on it and then make it available for everyone.
Th

[2017-07-18 14:43] ariel-phet commented on #172
@MohamadSH you should probably email us (phethelp@colorado.edu) with further questions regarding translation

If you want our sims on an educational website, you could consider simply embedding them. The advantage of embedding them is you then are always guaranteed the latest version, so bug fixes/updates/latest translations are assured.

[2017-07-18 16:07] phet-steele commented on #156
👍 , thanks @jonathanolson. However, both vectors are labeled as "Velocity" on the lab screen. Can you fix this so I can more accurately check alignment of the left side, since Acceleration is a longer string?

<img width="257" alt="screen shot 2017-07-18 at 10 06 14 am" src="https://user-images.githubusercontent.com/5863899/28327527-ec5495b6-6ba0-11e7-8a54-746a44d405fe.png">

[2017-07-18 17:34] jonathanolson commented on #156
Fixed the string issue, sorry about that!

[2017-07-19 06:13] MohamadSH commented on #172
Excuse me for posting my questions in here. I will be contacting you through the email you mentioned . Thank you very much for your patience.

[2017-07-19 16:48] ariel-phet commented on #172
@MohamadSH no problem, we appreciate communication with our community!

[2017-07-19 16:48] #172 closed

[2017-07-20 20:37] #156 closed

[2017-07-26 19:33] ariel-phet commented on #147
## Design
- [x] **Design doc created** (Date: 09/16/2014)
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [ ] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date: //)
- [ ] **Wirefra

[2017-07-26 22:09] arouinfar commented on #171
I've been cleaning up the Period Timer a bit, and have arrived at a design I'm happier with.
![image](https://user-images.githubusercontent.com/8419308/28645774-0d286d36-721c-11e7-8707-852b49e9f4bf.png)

Here it is in context next to the current period timer.
![image](https://user-images.githubusercontent.com/8419308/28645811-2ad12da0-721c-11e7-9967-af935aa8513f.png)

Proposed changes:
* Reduced b

[2017-07-26 22:21] arouinfar commented on #168
@jonathanolson here's a mockup of the Energy Graph with the info button (uses font awesome [fa-info-circle](http://fontawesome.io/icon/info-circle/)) and the Energy Legend dialog. The zoom buttons differ slightly from master, but that is unintentional.
![image](https://user-images.githubusercontent.com/8419308/28646224-e642699a-721d-11e7-96e8-890726d11483.png)

![image](https://user-images.githubu

[2017-07-26 22:28] arouinfar commented on #165
@jonathanolson overall things are looking really good! A few more things

- [ ] Energy Graph open by default on Energy screen, closed by default on Lab screen.
- [ ] Widen Mass & Gravity panels by 25 px so Gravity and Friction slider tracks can be a bit longer. They currently feel a bit too short.
- [ ] Gravity readout/tweakers could use more vertical padding. Increase padding on either side by 5p

[2017-07-26 22:38] arouinfar opened #173 "Use stop button instead of Return"
In Masses and Springs, we opted for a iconic stop button instead of "Return" (which is not always clear before the first use). Should we do the same in Pendulum Lab? The proximity to the pendulum could also be improved.

Here are a few options. I have a slight preference for the 2nd option.
![image](https://user-images.githubusercontent.com/8419308/28646747-7f8d688c-7220-11e7-838b-e2987b1aa01f.png

[2017-07-28 01:01] jonathanolson commented on #165
Implemented those three changes, let me know how they look.

[2017-07-28 01:32] jonathanolson commented on #171
Yes for the tool background. Additionally, I'd like to know (@ariel-phet maybe?) if this type of border will want to be used for other sims, as I have two options:

- Just use the fixed-size image for now (best if it's just for this sim)
- Chop it up into corners/edges, and make it like an alternative Panel style (so it can resize nicely, and could be easily reused in other sims)

I'll be fine wit

[2017-07-28 16:55] arouinfar commented on #171
👍

This border is already used in CCK. The voltmeter and non-contact ammeter have a similar design, but the bodies aren't rectangles. Not sure if your proposed generalization would apply to rectangular bodies only @jonathanolson.
![image](https://user-images.githubusercontent.com/8419308/28727609-b98f2468-7382-11e7-832b-531b6144fb92.png)

[2017-07-28 17:04] arouinfar commented on #165
Looks good @jonathanolson! When I requested for the Friction control to be moved down 10 px, my thinking was that giving the readout extra padding would reduce the padding between Gravity thumb and Friction title. I'd like to keep the same relative spacing between the thumb on the Gravity slider and the Friction title, so can you move the Friction controls back up?
![image](https://user-images.git

[2017-07-28 19:36] ariel-phet commented on #173
@arouinfar had to chew on this a bit. I generally like the idea of moving to the "stop" button. However, I think it will be odd to have it where you have placed it (since the string will be able to cross over the button.

I played around with a few layouts, and the following seemed OK. I feel like the stop sign is in a good place (decent proximity, and pressing the button brings the masses in-line

[2017-07-28 19:59] jonathanolson opened #174 "Improve string keys"

[2017-07-28 20:39] jonathanolson commented on #168
Implemented, let me know how it looks.

[2017-07-28 20:41] arouinfar commented on #168
Love it @jonathanolson! The only issue is that the close button appears to be out of bounds:
![image](https://user-images.githubusercontent.com/8419308/28735516-c8e7c1ac-73a2-11e7-8207-2c7277965efd.png)

[2017-07-28 20:42] jonathanolson commented on #168
I pushed a common-code fix to joist in https://github.com/phetsims/joist/issues/346, can you try pulling common repos and retesting?

[2017-07-28 20:43] arouinfar commented on #168
Thanks for the clarification. Will do @jonathanolson.

[2017-07-28 20:45] arouinfar commented on #168
Much better now! Thanks @jonathanolson!

[2017-07-28 20:45] #168 closed

[2017-07-28 20:54] jonathanolson commented on #171
Rectangular bodies only was my thought.

It would be possible still to generate a '3d' look like this in code, but it would be a bit more complicated (e.g. make a piecewise continuous function that is the "height" of the "rubberized" 3d part per pixel location, then shade it based on computing the normal vector and a light direction).

If we ever want more-realistic looking components, I'd encoura

[2017-07-28 20:57] jonathanolson commented on #165
Ok, reverted the extra space between the "gravity controls" and "friction controls". Sorry about that!

Let me know if that looks good, and if there are any other related changes.

[2017-07-28 20:59] arouinfar commented on #165
Thanks, looks great! I don't have any further requests @jonathanolson.

[2017-07-28 20:59] #165 closed

[2017-07-31 15:56] ariel-phet commented on #171
@jonathanolson I was going to mention CCK, but I think for now it would be best to just use the image. Besides CCK no sims on the horizon with this style. We can revisit if one comes up.

[2017-07-31 16:47] arouinfar commented on #171
Thanks for your input @ariel-phet. I've sent the assets for the Period Timer to @jonathanolson.

[2017-07-31 18:44] arouinfar commented on #173
Great point @ariel-phet. I had given the string some thought, but I think I was stuck in the mindset of "keep it at the top like MAS". I really like centering the stop button beneath the pendulum. I've played around a little with the layout and come up with three options. In descending order of my personal preference:

1. Center the pause/step/playback controls in the space between the pendulum st

[2017-07-31 19:22] ariel-phet commented on #173
@arouinfar, especially with everything opened, which I had not really thought about, I think option 1 looks the best.

[2017-07-31 19:43] #169 closed

[2017-07-31 19:44] #174 closed

[2017-07-31 20:12] arouinfar commented on #173
Thanks @ariel-phet! I really like the balance of option (1).

@jonathanolson we've decided to replace the Return button with a stop button, as mocked up in option (1) of https://github.com/phetsims/pendulum-lab/issues/173#issuecomment-319159805. The stop button is also being used in Masses and Springs, and I believe the icon was drawn in code there.

[2017-08-02 20:20] jonathanolson commented on #171
Implemented, can you see if this appearance needs any changes?

[2017-08-02 20:36] arouinfar commented on #171
I like it! Thanks @jonathanolson.

[2017-08-02 20:36] #171 closed

[2017-08-03 06:36] jonathanolson opened #175 "Shared trash can images"
See https://github.com/phetsims/scenery-phet/issues/320.

[2017-08-07 20:00] jonathanolson commented on #173
Implemented, are any changes needed?

[2017-08-07 20:04] jonathanolson commented on #161
Self-review complete, some things moved to issues. Closing here.

[2017-08-07 20:04] #161 closed

[2017-08-07 20:10] arouinfar commented on #173
Looks great @jonathanolson! The Period Timer doesn't reset if stopped mid-recording, but I'll open a separate issue for that (behavior predates the Restart > Stop change).

[2017-08-07 20:10] #173 closed

[2017-08-07 20:12] #170 closed

[2017-08-07 20:13] jonathanolson commented on #175
Waiting on decision for https://github.com/phetsims/scenery-phet/issues/320.

[2017-08-07 20:14] arouinfar opened #176 "Period Timer should reset when stop button pressed"
In verifying #173, I noticed that the Period Timer is still in "Record Mode" if the stop button is pressed mid-recording. The timer will return to zero, but the reset button will be active, like this:
![image](https://user-images.githubusercontent.com/8419308/29043778-dc9202d8-7b79-11e7-8f02-37ec1f9a92e1.png)

If the pendulum is displaced again, the period timer will immediately start recording th

[2017-08-07 20:31] jonathanolson commented on #176
Fixed, can you verify?

[2017-08-07 20:32] arouinfar commented on #176
👍

[2017-08-07 20:32] #176 closed

[2017-08-07 21:12] arouinfar commented on #137
@jonathanolson when I reviewed the early interviews, I think the real issue was with student recruitment. Some had recently learned about harmonic motion in class, and were on a fact-finding mission rather than engaging in exploration. Later interviews (with a different population) had a better flow. I don't think it's necessary to have the Period Timer on all screens, so closing.

[2017-08-07 21:12] #137 closed

[2017-08-07 21:26] jonathanolson commented on #137
Deleted the branch, thanks!

[2017-08-09 18:06] phet-steele opened #177 "Period Timer continues measuring when disabled"
1. Lab screen, enable the Period Timer.
2. Use Slow Motion so this is easier, if you want.
3. Get the mass swinging and start the Period Timer.
4. Before the trace has finished drawing, uncheck the Period Timer.

You will still see the trace end, then start again at the next period. In situations where the mass makes a complete revolution, the trace will continuously be drawn (which would be fine

[2017-08-09 19:20] phet-steele commented on #73
Will self-assign and put on hold until 1.0 is ready.

[2017-08-10 16:15] phet-steele commented on #102
Don't see a problem on macOS 10.12.6 FF. Will check 10.9.5 shortly.

[2017-08-10 17:42] phet-steele commented on #102
Don't know what "typical scenery issues" I'm looking for, but FF 53.0.2 on OSX 10.9.5 showed nothing worth fixing.

[2017-08-10 17:42] #102 closed

[2017-08-15 16:58] jonathanolson commented on #177
Should be fixed in master.

@phet-steele, can you verify? Changes may affect any time the period timer starts/stops or becomes visible/invisible, so testing those parts (in the next RC or whenever) would be great.

[2017-08-15 18:29] jonathanolson commented on #175
Handled the images in pendulum-lab, closing.

[2017-08-15 18:29] #175 closed

[2017-08-16 16:18] phet-steele opened #178 "Quantify Lab screen's gravity slider"
The Lab screen's Gravity slider is quantified (unlike the other screens) but still shows "None" and "Lots" for the slider range. The labels should show the proper numeric values: "0" and "25".

@arouinfar, or should they say "0.00" and "25.00"?

<img width="278" alt="screen shot 2017-08-16 at 10 17 31 am" src="https://user-images.githubusercontent.com/5863899/29373651-298a1852-826c-11e7-9cc6-84fad

[2017-08-16 16:20] arouinfar commented on #178
Thanks @phet-steele! I would prefer "0" and "25".

[2017-08-16 17:51] jonathanolson commented on #178
Applied change, let me know if it looks good.

[2017-08-16 17:53] arouinfar commented on #178
Looks great! Thanks @jonathanolson.

[2017-08-16 17:53] #178 closed

[2017-08-17 23:34] arouinfar opened #179 "Slider pixel polishing"
@jonathanolson as discussed in today's design meeting, here's a mockup of the sliders in the style of Projectile Motion.

![image](https://user-images.githubusercontent.com/8419308/29438087-b6d6c2f4-8371-11e7-9838-dbb1117ddb2a.png)

Here are the changes overlayed on dev.14
![image](https://user-images.githubusercontent.com/8419308/29438178-34d62faa-8372-11e7-94f9-a913271fbcde.png)

Please let me k

[2017-08-17 23:36] arouinfar opened #180 "Energy Graph Pixel Polishing"
As discussed in today's design meeting:

- [x] Increase font size of labels
- [x] Increase width of bars
- [x] Add thin black stroke to the bars
- [x] Add off-scale arrow similar to Capacitor Lab: Basics
![screen shot 2017-08-17 at 3 51 30 pm](https://user-images.githubusercontent.com/8419308/29438234-91d1737c-8372-11e7-9cc6-3c54c85cbfaa.png)

[2017-08-24 15:30] jonathanolson commented on #180
As I'm implementing this, I was wondering if the "total" bar arrow should potentially be able to display multiple colors (for the multiple types of energy that overflowed), or if it should just be one color.

If (for instance) the total overflows (in the image below) and just has a red arrow, students may think the total doesn't include kinetic/potential?:
![pendulum-lab-energy-1](https://user-ima

[2017-08-24 15:40] arouinfar commented on #180
Great question @jonathanolson. I like the idea of a multi-colored arrow, but I think it could be a bit complicated/hard to interpret. Perhaps we could instead use a black arrow for the total, rather than matching the bar color. How does that sound?

[2017-08-24 15:42] jonathanolson commented on #180
Sounds great to me (presumably only on the total).

[2017-08-24 15:44] arouinfar commented on #180
Correct. The off-scale arrow for KE, PE, and thermal energy should match the color of the bar.

[2017-08-24 16:28] jonathanolson commented on #180
Should be done now. Tried black, but wanted to test out gray (seems to match other colors better) to see how you like it:

![pendulum-lab-arrows](https://user-images.githubusercontent.com/480878/29676988-e8b9e752-88b6-11e7-932a-b256a5890d0b.PNG)
![pendulum-lab-arrows2](https://user-images.githubusercontent.com/480878/29676997-ec39f0f2-88b6-11e7-8286-af6cce0663cc.PNG)

Let me know if it looks good,

[2017-08-24 16:32] arouinfar commented on #180
The Energy Graph looks amazing @jonathanolson! Good call on the gray, I think it looks better. Looks like you've finished off the pixel polishing, so closing.

[2017-08-24 16:32] #180 closed

[2017-08-24 16:35] arouinfar commented on #179
Just as a heads up -- @jonathanolson I tried my best to match the Projectile Motion style, but things in my mockups may be slightly off. If you run into anything fishy, do what you think is best, and don't worry about matching the mockups exactly.

[2017-08-24 17:09] arouinfar opened #181 "Items for Teacher Tips"
From the Legacy Tips
- [x] If you want to do an experiment, pause the sim, set up your experiment, then start it.
- [x] The Period Timer operates as a triggered mechanism, which starts when the pendulum crosses the vertical dotted line. The period will be displayed after one cycle.
- [x] The initial angle is marked by a tick mark the color of the pendulum mass.
- [x] As you move the pendulum, the

[2017-08-24 17:09] arouinfar commented on #181
Marking as on-hold until rc testing begins.

[2017-08-24 17:56] jonathanolson commented on #179
Implemented for length/mass.

I don't see a mock-up for how Gravity would look for the first two screens. Should it just have no readout, and the different labels?

[2017-08-24 17:59] arouinfar commented on #179
Oops, sorry about that @jonathanolson! For the first two screens, omit the gravity readout and change the labels to "None" and "Lots". Would you like me to mock it up?

[2017-08-24 18:00] jonathanolson commented on #179
No need, I understand.

[2017-08-24 18:01] arouinfar commented on #179
Took a look at master, and the updated sliders are looking good. We may want to bump up the max/min labels up a px or two, though. They're a little on the small side.

[2017-08-24 18:03] jonathanolson commented on #179
Bumped up tick labels by 2, let me know if it looks better now.

[2017-08-24 18:04] arouinfar commented on #179
Looking much better, thanks!!

[2017-08-24 23:17] jonathanolson commented on #179
Implemented, let me know how it looks (also pull scenery-phet)

I placed the planet X "question" where the slider goes (as I couldn't see any better place), and the readout is suppressed (for gravity) when planet X is elected.

[2017-08-25 04:49] arouinfar commented on #179
Looks really good @jonathanolson! The location of the Planet X question looks great, and I don't mind the combobox being below the gravity slider. The only thing that looks a bit off to me are the gravity tweakers on the first two screens. Seems a bit odd/useless to have fine adjustment of an ill-defined parameter.

@jonathanolson can we kill the gravity tweakers on Intro and Energy?

[2017-08-25 06:56] jonathanolson commented on #179
Removed tweakers. Also adjusted the friction slider to use the same system for proper alignment, and cleaned up some code usage.

Let me know if it looks good (and if it's ready for RC).

[2017-08-25 11:20] arouinfar commented on #179
Looks good! I think it's ready for RC, but maybe @kathy-phet would like to take a look at the latest changes first?

[2017-08-25 15:00] kathy-phet commented on #179
@jonathanolson - This is looking very nice, thanks! One tweak request -- the font size for the readout value looks smaller than on projectile motion. Can you look at the difference and try to match them?  I'm not worried about the tickmark values being a smaller font, but I would like the readout of the actual value to be similar to projectile motion font size. This may mean that the slider spacin

[2017-08-25 15:05] kathy-phet opened #182 "Question about "step function" size"
I was wondering whether there had been design discussion around the step function size in Pendulum lab? I was playing with it just now, and it seemed to be pretty course to me - making big steps. And the step size was the same on both the slow motion and the fast motion scales. The result was that you really could not get fine step control for showing very explicit observations ... like that at th

[2017-08-25 15:19] jonathanolson commented on #179
Increased readout font size to match. Spacing should have adjusted itself automatically.

Let me know if that looks good, or if any further changes would be helpful.

Somewhat related, the gray stroke around the readouts kind of blends in against the gray background, and could be slightly darkened. Thoughts?

[2017-08-25 15:21] jonathanolson commented on #182
Very easy to tweak, and any values should work. Let me know if it should be different when in slow motion.

Currently it is stepping by 50ms (0.05s) of "true time" in all cases, even slow motion.

[2017-08-25 16:41] kathy-phet commented on #182
Hi JO,
Thanks.
Can we try 10 ms of "true time" in all cases and see what that looks like?

[2017-08-25 16:46] kathy-phet commented on #179
I think the stroke is fine as is.

But can you also increase the font readout for gravity on the lab screen?

[2017-08-25 18:27] jonathanolson commented on #182
Changed, can you see how that feels?

[2017-08-25 18:46] kathy-phet commented on #182
Feels great! Thanks. Also checked with Mike D and he says for his teaching this is good change.

[2017-08-25 18:52] jonathanolson commented on #179
Changed (it looks like the readout was going past the maximum width set for i18n purposes). I've allocated more room for the readouts (so the gravity readout fits without being sized down).

[2017-08-25 18:56] kathy-phet commented on #179
looks great. closing

[2017-08-25 18:56] #179 closed

[2017-08-25 18:58] kathy-phet opened #183 "Gravity slider step size"
@jonathanolson - Can you change the jumps on the gravity slider to be every 1 or 0.5 m/s2. Right now it is harder to do experiments of doubling because it requires using the tweakers. The drop down allows you to easily return to earth at any time, so I think it is OK to make custom have more of an easy slider/tweaker use combination. If 0.5 allows easy reproducible hitting of each value that would

[2017-08-25 19:11] jonathanolson commented on #183
Implemented, does that work well?

[2017-08-25 19:20] kathy-phet commented on #183
After playing, I think jumps of 1 would be better for this slider.

[2017-08-25 19:33] jonathanolson commented on #183
Rounding to 1 now.

[2017-08-25 19:40] kathy-phet commented on #183
Looks great! Closing!

[2017-08-25 19:41] kathy-phet commented on #182
Closing.

[2017-08-25 19:41] phet-steele commented on #183
@kathy-phet do you mean that the slider will step from 8.00 m/s2 to 9.00 m/s2 in one sliding motion? I see two problems with this:

1. The tweakers step every 0.01 m/s2 (and they should stay this way). This makes it ***very*** hard to reach intermediate values, like 8.50 m/s2. Holding down the tweakers in this case to go from 8.00 -> 8.50 takes awhile, and tweakers would be the only way to reach t

[2017-08-25 19:48] phet-steele commented on #182
Let's get @arouinfar's opinion on this before closing, although I'm sure this change is relatively harmless.

[2017-08-25 19:51] kathy-phet commented on #183
@phet-steele -

Re #1. In thinking about teaching, the use case of getting to a particular value of gravity is less common than wanting to easily do experiments of doubling, etc.  The double digit readout is only because we want to show Earth at 9.81 with that precision, so when you use the drop down you get to that exactly. So I was weighing the ease of data taking at nice values over the duratio

[2017-08-25 19:54] kathy-phet commented on #182
Yep - Amy, what do you think?

[2017-08-25 19:58] phet-steele commented on #183
@kathy-phet I edited point 2 a bit before your reply to reflect that maybe the mass and length sliders could change too. Perhaps doubling up on ticks and tweakers would look fine for all of the mentioned sliders?

For point 1, I think that your reply still makes sense with a step size of 0.5 m/s2. I don't have a problem with that the step size, it's just that 1.0 feels excessively large and can ma

[2017-08-25 20:06] kathy-phet commented on #183
Let's chat on Monday when @arouinfar has had a chance to review.

We made this change to sliders that have this smart sliding on purpose to help with reproducibility, but happy to revisit how it feels. I was finding the 0.5 jumps on the gravity slider made it harder to easily and quickly jump by a factor of 2. Just easier to think in whole number than having to process the 0.5 values as I slide. A

[2017-08-25 20:32] arouinfar commented on #182
@kathy-phet this was a great suggestion! I tested the new step size on master and everything looks good @jonathanolson. Closing.

[2017-08-25 20:32] #182 closed

[2017-08-28 17:12] arouinfar commented on #183
I realize that using a smooth slider track with a snappy thumb is a bit unorthodox, but I think it's important here. The snappy thumb is great for exploration and reproducibility, but it's still important to allow for more precise values to be set in this particular sim.

@phet-steele let me take a look at the version with 0.5 m/s^2 steps since I'm only able to access the latest dev (0.1 m/s^2 ste

[2017-08-28 17:15] arouinfar commented on #183
@jonathanolson my vote would be to revert the gravity step size to 0.5 m/s^2 steps.

[2017-08-28 17:17] jonathanolson commented on #183
0.5 steps pushed to master.

[2017-08-28 18:49] arouinfar commented on #183
Looks good to me @jonathanolson!

[2017-08-28 18:49] #183 closed

[2017-08-29 05:37] ariel-phet opened #184 "UX/UI issues with Energy Graph"
@jonathanolson @kathy-phet @arouinfar before we proceed with an RC for pendulum lab (which overall is looking great), I have a few polishes/questions.

I see two issues with the energy graph:

1. I think this is minor and easy to change, but the zoom in/out and info button being gray just looks odd to me. It seems these buttons should have SOME color different than the grey background. Perhaps som

[2017-08-29 05:40] ariel-phet commented on #184
https://github.com/phetsims/QA/issues/45

[2017-08-29 05:54] ariel-phet opened #185 "A bit more negative space in Length/Mass panel"
@jonathanolson @kathy-phet @arouinfar

To my eye, the Length/Mass panel looks a bit cramped and could use a bit of "breathing room" both between the Length and Mass and adjustments and between the two groupings of Mass/Length 1 and Mass length 2. In particular the sliders feel very vertically close to the readouts.

For comparison

Here is the sim now

![pl](https://user-images.githubusercontent.c

[2017-08-29 05:59] ariel-phet commented on #185
Additionally I would consider bumping up the slider thumb/track vertical size slightly. These seem awfully small. The work just fine on iPad, but just seem a bit tiny compared to our norm for sliders. Perhaps a pixel or two larger? Am I missing some vertical space concern?

[2017-08-29 06:00] ariel-phet commented on #185
https://github.com/phetsims/QA/issues/45

[2017-08-29 16:21] arouinfar commented on #185
No, not currently @ariel-phet. Quite some time ago, the panels on the Lab screen crowded the resetAllButton so much that the button was reduced to 75% of its normal size. Seems like we overcorrected a bit. I think your 2nd mockup showing the increased vertical spacing looks much better. Thanks!

We've increased the size of the slider thumb a bit, but it still looks a bit smaller than normal. In ge

[2017-08-29 16:21] arouinfar commented on #185
@kathy-phet and I reviewed this issue together, so unassigning her too.

[2017-08-29 16:27] arouinfar commented on #184
@ariel-phet you've raised some excellent points. After discussion with @kathy-phet we've decided:

1. A pale color seems like an appropriate choice for zoom in/out button. Let's try the light blue used in the play/pause button.

2. The mockup removing the 1/2 radio buttons when in 1-pendulum mode looks clean, and it is better UX. Let's go for it.

[2017-08-29 17:36] jonathanolson commented on #185
Done, let me know how it looks.

Tick sizes are identical (5 view units tall).

[2017-08-29 17:49] ariel-phet commented on #185
@jonathanolson version on Master looks good to me, thanks for the quick changes. Closing

[2017-08-29 17:49] #185 closed

[2017-08-29 18:04] jonathanolson commented on #184
Implemented, let me know how it looks.

[2017-08-29 18:51] arouinfar commented on #184
Looks good @jonathanolson, but @ariel-phet should also review.

[2017-08-29 21:50] arouinfar commented on #181
The items in https://github.com/phetsims/pendulum-lab/issues/181#issue-252668879 have been documented in the Tips.

[2017-08-29 21:50] #181 closed

[2017-08-29 21:51] ariel-phet commented on #184
I also asked @jonathanolson to tweak the "info" a bit, we added some color and tried the button as round. Looks good to me. Closing

[2017-08-29 21:52] arouinfar commented on #184
Love the new info button!! Thanks @ariel-phet @jonathanolson.

[2017-08-30 18:43] BryceAG commented on #184
Just a question: when working with just one mass do we want to remove the a-b switch on the period timer as well, or just leave it grayed out?

[2017-08-30 19:23] ariel-phet commented on #184
Excellent point @BryceAG - what say you @arouinfar?

[2017-08-31 16:52] jonathanolson commented on #184
Will re-center play/pause button on timer when toggled.

[2017-08-31 17:02] jonathanolson commented on #184
Implemented, added to 1.0 branch for next RC (or whatever). Let me know how it looks.

[2017-08-31 17:03] arouinfar commented on #184
Love it!

[2017-08-31 17:04] arouinfar commented on #184
Guess we should leave this open until the "next RC (or whatever)" 😄

[2017-08-31 18:28] arouinfar commented on #164
Hijacking this issue since it relates to credits...

@jonathanolson please remove me from the Team, since I'm already credited as the lead. The rest of the non-QA credits look good to me.

[2017-08-31 18:42] phet-steele opened #186 "Pointer areas - energy graph"
The zoom buttons have overlapping pointer areas:

<img width="186" alt="screen shot 2017-08-31 at 12 40 27 pm" src="https://user-images.githubusercontent.com/5863899/29939611-b13c00d8-8e49-11e7-867f-07af9d13a4f8.png">

Seen on macOs 10.12.6 Chrome. For phetsims/QA/issues/45.

[2017-09-05 16:14] phet-steele commented on #177
@jonathanolson this looks great on master.

[2017-09-05 16:14] #177 closed

[2017-09-05 19:12] lmulhall-phet opened #187 "[LoL Harness] Stopwatch moving after resume"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Firefox 55.0.3

**Problem description:**

In the Legends of Learning harness, the stopwatch and the ruler will, if being dragged across the screen when the sim is paused, move after the "Resume" button is clicked. This is for phetsims/QA/issues/45. _It can be difficult to observe this ph

[2017-09-05 19:21] phet-steele opened #188 "stringTest=long recursion"
Discovered by @BryceAG, the following link using `?stringTest=long` will not load if:

- run on Windows AND Firefox.

http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.2/pendulum-lab_en.html?stringTest=long

Prints this warning:

[code]

Seen on Windows 7, 8.1, and 10 FF. For phetsims/QA/issues/45.

[2017-09-06 17:39] brroberts1231 opened #189 "[LoL Harness] Sim does not resize in window on IE11"
For phetsims/QA#45
Test device: Schrodinger, Bates & my personal Win 7 laptop

Operating System: Windows 7 & 8 64-bit

Browser: Internet Explorer 11

Problem description: Using IE, when testing in the LoL harness, the sim is too large in the window, and you can't see anything below the ruler checkbox. I wasn't even able to click report a problem from the PhET menu at the bottom of the screen, no m

[2017-09-06 18:49] jonathanolson commented on #189
It looks like a wrapper problem. On Chrome, it applies a CSS transform to the iframe, but there is no CSS transform set on IE11 when it is too small.

@samreid, who should be responsible for this?

[2017-09-06 18:59] samreid commented on #189
To clarify, is the problem with the LOL wrapper harness?

[2017-09-06 23:11] arouinfar opened #190 "Create LoL Icons"
Since this sim is being tested in the LoL harness, we'll also need LoL icons.

[2017-09-07 07:57] samreid commented on #189
When launching http://harness.legendsoflearning.com/ with http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.2/pendulum-lab_en.html?legendsOfLearning in Chrome, there is a transform scale applied (see the `iframe style =` declaration).

![image](https://user-images.githubusercontent.com/679486/30152063-221ae54c-936f-11e7-9ead-10773d221123.png)

However, in IE11 there is no scale e

[2017-09-07 15:50] kathy-phet commented on #189
@samreid - Agreed, can you report this to LOL?

Since this is on LOL side, I think we should proceed with assumption they will fix this issue, and it should not delay Pendulum Lab publication or submission to LOL.

[2017-09-07 15:54] kathy-phet commented on #187
@lmulhall-phet -- can you elaborate on a few things.... Does the stopwatch just move to a new spot and then stop there upon resume? Does the sim continue to work normally, despite this move?

[2017-09-07 16:04] samreid commented on #189
I emailed:

Shaun, Josh & Faye,

PhET's QA team noticed a problem when running the Test Harness on IE11.  It seems that on other browsers the iframe is scaled with a style "translate: scale(...)" but this style element is missing when running in IE11, which causes the sim iframe to not resize properly and not fit properly within the page.  If this is only a problem in the harness, we may be able t

[2017-09-07 16:05] lmulhall-phet commented on #187
Yes, the stopwatch moves to a new spot, and the sim works normally. It doesn't seem like a serious issue to me, i.e. I can't see how it would be terribly inconvenient for the user, but I thought I'd bring it up so that a higher-up could determine whether it's worth doing anything about it.

![sep-07-2017 10-02-37](https://user-images.githubusercontent.com/31285590/30173061-bf954b34-93b3-11e7-8ab1-

[2017-09-07 16:45] kathy-phet commented on #187
@lmulhall-phet -- Yes, thanks for bringing it up. It will be good to understand why (from @jonathanolson ) it is doing this and if a fix for our main code as deemed appropriate. But I don't think we need to republish any of the current sims for LOL just for this behavior.

[2017-09-07 16:56] jonathanolson commented on #186
Fixed (and on 1.0 branch).

[2017-09-07 18:48] arouinfar commented on #190
I've mocked up some draft icons based on the screen icons used in the sim. I prefer the first option for Intro, as it's a bit more visually interesting, but I tried a more "zoomed in" look as well.  @kathy-phet can you review?

![lol-icon-pl_intro-1](https://user-images.githubusercontent.com/8419308/30179547-01a11998-93ca-11e7-840c-dbfe1792208b.png)
![lol-icon-pl_intro-2](https://user-images.githu

[2017-09-07 20:03] arouinfar commented on #190
After some feedback from @amanda-phet I've tweaked Energy icon. She had also expressed her preference for the 1st Intro icon in https://github.com/phetsims/pendulum-lab/issues/190#issuecomment-327890121. Here's the latest iteration @kathy-phet.

![lol-icon-pl_intro-1](https://user-images.githubusercontent.com/8419308/30182614-b0dcff4e-93d4-11e7-9177-935ee46b6ca4.png)
![lol-icon-pl_energy-2](https:

[2017-09-07 20:09] amanda-phet commented on #190
I definitely like the concept in the Energy icon! Not sure about the angle of the mass but I like seeing more of the graph.

[2017-09-07 23:15] arouinfar commented on #190
Thanks @amanda-phet! Cleaned up the Energy icon a bit, and decided to go with a red pendulum. Replaced the image in my https://github.com/phetsims/pendulum-lab/issues/190#issuecomment-327912521 above.

[2017-09-08 14:56] kathy-phet commented on #189
Heard back from Josh. They do not support IE11. Closing.

[2017-09-08 14:56] #189 closed

[2017-09-08 16:52] phet-steele commented on #164
Updated QA credits and removed AR from team. Credits are unlikely to change before publication.

[2017-09-08 16:52] #164 closed

[2017-09-08 16:53] phet-steele commented on #73
@arouinfar, please post what you would like this to be.

[2017-09-08 17:30] arouinfar commented on #184
Looks like these changes were present in rc.2, and testing has concluded. @jonathanolson will this require further testing?

[2017-09-08 17:46] arouinfar commented on #73
@phet-steele I'm thinking something like this for the screenshots, with either (1) or (3) being the main screenshot. What do you think?

1. <img width="915" alt="screen shot 2017-09-08 at 11 36 54 am" src="https://user-images.githubusercontent.com/8419308/30224044-6f9f332e-948a-11e7-925c-613af292b444.png">
2. <img width="916" alt="screen shot 2017-09-08 at 11 35 39 am" src="https://user-images.git

[2017-09-08 17:50] phet-steele commented on #73
@arouinfar I immediately liked 1.

[2017-09-08 17:51] arouinfar commented on #73
Sounds good @phet-steele. Let's go for (1) as the main screenshot, and then I trust that you'll find appropriate alternates. :)

[2017-09-11 17:14] jonathanolson commented on #188
General workaround/fix applied to Scenery. Added scenery branch (and included in 1.0 branch).

[2017-09-11 20:36] kathy-phet commented on #187
Added deferred label, since fixing this is not needed for going ahead.

[2017-09-11 22:12] arouinfar commented on #190
Reviewed the icons with @kathy-phet and uploaded them to Drive.

[2017-09-11 22:12] #190 closed

[2017-09-11 22:14] jonathanolson commented on #187
Briefly discussed potential fixes with @samreid, and applied the patch above (to master and a sim-specific branch for 1.0). Should be fixed (and will fix other sims also).

[2017-09-12 15:58] phet-steele commented on #186
👍

[2017-09-12 15:58] #186 closed

[2017-09-12 19:26] ariel-phet commented on #147
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Legacy sim docs/info gathered**
  - [ ] Sim suggestions doc reviewed
  - [ ] Unfuddle tickets reviewed
- [ ] **Learning goals and standar

[2017-09-13 17:19] brroberts1231 commented on #188
Tested on Win 7, 8, and 10. Fixed on all, closing.

[2017-09-13 17:19] #188 closed

[2017-09-13 18:01] phet-steele commented on #187
Sorry @BryceAG I had one thing to say about this, reopening.

@jonathanolson @samreid it's now very unwieldy to pause a swinging pendulum at a particular point since it will continue animating briefly after a pause (not sure the use case, but noting). It also causes some, at times significant, "jumping" of a swinging pendulum. Are we sure this is the right path to take? Really all we've done is ta

[2017-09-13 18:03] phet-steele commented on #187
@kathy-phet I'm aware that this issue is deferred. I still think it is worth it to give a very brief opinion on if the commit in this issue should be reverted or not.

[2017-09-13 19:46] phet-steele commented on #73
Added.

[2017-09-13 19:46] #73 closed

[2017-09-13 19:56] phet-steele commented on #187
@kathy-phet likes the fixed behaviour so I'll unassign everyone.

[2017-09-13 20:20] jonathanolson commented on #147
Handled the items for implementation, unassigning myself. 1.0.0 is built and ready for pre-publication items.

[2017-09-13 20:26] phet-steele commented on #147
On it!

[2017-09-14 16:45] arouinfar opened #191 "Create sim primer"

[2017-09-14 16:51] oliver-phet opened #192 "User feedback: line graph"
Graph needs to have line graphs to allow for better analysis of the entire motion.  Bar graphs are only good for unconnected snapshots of data.

[2017-09-14 17:10] arouinfar commented on #192
@oliver-phet the bar graph was ported from the original Flash version, but cleaned up a bit to and given zoom in/out buttons. By design, the feedback is meant to be qualitative.

I think the user is asking for a graph like like the one in the full Energy Skate Park:

<img width="398" alt="screen shot 2017-09-14 at 10 55 07 am" src="https://user-images.githubusercontent.com/8419308/30442980-43d84db

[2017-09-14 17:41] oliver-phet commented on #192
Reply to user sent. Closing.

[2017-09-14 17:41] #192 closed

[2017-09-15 22:25] arouinfar commented on #147
@ariel-phet all done on my end. The rest is yours.

[2017-09-15 22:59] arouinfar opened #193 "Create custom version for UBC study"
@kathy-phet and I have been in contact with a researcher at the University of British Columbia who has requested a pared down version of Pendulum Lab for an study planned for January (with the sim delivered by December). Broadly, the researcher's goal is to compare a very specific lab done at UBC to the sim. The customization will involve removing most features from the sim and hardcoding some val

[2017-09-15 23:02] jonathanolson commented on #193
If it's just creating a branch and doing those changes, it should be quite quick. Maybe an hour at most?

I assume it would have no instrumentation for phet-io, correct?

[2017-09-15 23:05] arouinfar commented on #193
Thanks @jonathanolson. No instrumentation is needed for the UBC study.

@kathy-phet should @jonathanolson go ahead and proceed with creating the branch when time allows?

[2017-09-15 23:49] ariel-phet commented on #193
@arouinfar - I am a little leery of pairing down the sim to that level. Can we know a bit more about the research goals? If they have anything to do with the "effectiveness" of simulations we most definitely DO NOT want to provide such a sim with a PhET branding. I think we need to be a little careful with the form in which we provide such a limited environment.

[2017-09-15 23:57] kathy-phet commented on #193
The research goals were not about sim vs non sim in terms of pedagogy. It was more about in terms of can this lab activity be done remotely online or not.

He wants it so pared down because its about measurement uncertainty and that is the focus of the data collection they do in lab and in the sim.

[2017-09-15 23:58] kathy-phet commented on #193
We can also publish with the adapted logo too, if you are concerned about it.

[2017-09-16 00:13] ariel-phet commented on #193
@kathy-phet yes definitely with the adapted logo

[2017-09-18 17:58] jonathanolson opened #194 "branch: ubc-study"
For https://github.com/phetsims/pendulum-lab/issues/193

[2017-09-18 18:14] jonathanolson commented on #193
Does http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.1.0-dev.1/pendulum-lab_en.html work nicely?

[2017-09-18 18:28] arouinfar commented on #193
Looks good feature-wise @jonathanolson! I think the pendulum still has default mass and length, rather than values listed in https://github.com/phetsims/pendulum-lab/issues/193#issue-258184730. Can you double check that that these are the settings:

Mass 1 = 0.50 kg
Gravity = Earth
Friction = 2

[2017-09-18 18:40] jonathanolson commented on #194
Used 1.1.0-dev.1 for the first version.

[2017-09-18 18:42] jonathanolson commented on #193
Sorry about that, will have it fixed.

[2017-09-18 21:04] jonathanolson commented on #193
See http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.1.0-dev.2/pendulum-lab_en.html, it should have the desired attributes above. Sorry!

[2017-09-18 21:10] arouinfar commented on #193
Looks good @jonathanolson! I'll send the link to UBC to review.

[2017-09-19 20:35] #147 closed

[2017-09-25 20:35] oliver-phet opened #195 ""Snap" to discrete angles"
The sim currently allows users to drag two masses to different angles, but the sim displays the same angle. For example, both of these pendulums were dragged to "40°"
![screen shot 2017-09-25 at 2 29 19 pm](https://user-images.githubusercontent.com/5090275/30829457-0a339dc8-a1fe-11e7-9168-82fb41a54986.png)

The [Flash version](https://phet.colorado.edu/sims/pendulum-lab/pendulum-lab_en.html) force

[2017-09-25 21:05] arouinfar commented on #193
I sent the link to UBC a week ago and haven't gotten a response. I suppose that no news is good news, so I'll go ahead and close this issue. We can re-open at a later date, if necessary.

[2017-09-25 21:05] #193 closed

[2017-09-25 21:07] arouinfar commented on #195
This appears to be an oversight, as I thought the displacement already snapped to a whole number of degrees. @jonathanolson can you make this change? Once the angle is snappy, we can test again and see how well the period agrees.

[2017-10-05 20:24] ariel-phet opened #196 "Clear thermal energy on drag of pendulum mass"
After discussing the UX in Masses in Springs, it seemed like we should revisit pendulum lab so that when the user grabs a mass, the thermal energy is automatically cleared, since in essence the user is starting a new experiment.

[2017-10-19 16:40] #187 closed

[2017-10-19 16:43] jonathanolson opened #197 "Planned 1.0.1 maintenance release"
Planning to handle before pushing this out:

- https://github.com/phetsims/pendulum-lab/issues/196
- https://github.com/phetsims/pendulum-lab/issues/195
- https://github.com/phetsims/joist/issues/447
- phetsims/joist#449 (EDIT: added this issue after dev meeting discussion)

[2017-10-19 16:43] arouinfar commented on #194
@jonathanolson when you address #195, can you patch it into the ubc-study branch?

[2017-10-19 16:49] jonathanolson commented on #195
Implemented, can you verify?

[2017-10-19 16:51] jonathanolson commented on #196
Implemented, can you confirm?

[2017-10-19 16:52] arouinfar commented on #195
Looking good @jonathanolson!

[2017-10-19 16:55] jonathanolson commented on #194
Added the fix to the ubc-study branch.

[2017-10-19 16:58] arouinfar commented on #196
Things were looking pretty good until I tested the `ClearThermalButton`. In master, the button is behaving like the stop button (pendulum stops moving and all energy is cleared).

[2017-10-19 16:59] arouinfar commented on #194
Thanks @jonathanolson! Can you publish a new dev version  so I can send it off to the folks at UBC?

[2017-10-19 17:00] jonathanolson commented on #196
Investigating (doesn't look related to my last 2 patches, but also isn't happening on the live version).

[2017-10-19 17:02] jonathanolson commented on #196
Looks like a common-code change may have broken this.

[2017-10-19 17:09] jonathanolson commented on #196
Found the bug in DynamicProperty (I fairly recently introduced it.

Should be working nicely in master now, sorry!

[2017-10-19 17:10] jonathanolson commented on #196
Will need to pull common code on phettest.

[2017-10-19 17:19] arouinfar commented on #196
Looking good @jonathanolson! `ClearThermalButton` is behaving as expected now.

[2017-10-19 18:41] oliver-phet commented on #195
This looks good to me, too!

[2017-10-23 18:26] jonathanolson commented on #194
It says it's deployed to https://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.1.0-phetiodev.4/wrappers/index, but I don't have the credentials to test it.

[2017-10-23 18:30] arouinfar commented on #194
@jonathanolson can you publish it as Adapted from PhET instead, like you did before?
https://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.1.0-dev.2/pendulum-lab_en.html

[2017-10-23 18:34] jonathanolson commented on #194
Sorry about that, saw "study", forgot and assumed phet-io.

https://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.1.0-dev.5/pendulum-lab_en.html is up, should have the correct brand.

[2017-10-23 18:43] arouinfar commented on #194
Thanks @jonathanolson! Looks great. I'll send 1.1.0-dev.5 along to UBC.

[2017-10-25 23:07] arouinfar opened #198 "Reverse gradient on masses"
While reviewing Masses and Springs, I noticed that the gradient on the masses was reversed (highlight should be on the left). Looks like the behavior was copied from Pendulum Lab which is also reversed. We assume the light source is in the upper left, so the highlights should be on the left side of the masses, not right.

@jonathanolson can you reverse the gradient on the masses and include it in

[2017-10-26 21:50] jonathanolson commented on #197
Also will include:

- https://github.com/phetsims/pendulum-lab/issues/198

[2017-10-26 22:15] jonathanolson commented on #198
I also applied a "fix" to the pendulum icons (for deciding 1 or 2 pendula). It was actually sort of broken so the gradient wasn't applied correctly, so I applied a "reversed" fixed version that has "less" highlight than the actual masses.

Does this look good?